
:host ::ng-deep .ui-fluid .ui-spinner .ui-spinner-button{
  margin-right: 30% ;

}
:host ::ng-deep .ui-fluid .ui-spinner .ui-spinner-input{
  width: 70% ;

}
::ng-deep .ui-table-thead tr th.editCls  {
  width: 70px;
  text-align: center;
}
::ng-deep .ui-table-thead tr th.delCls{
  width: 70px;
  text-align: center;
}
.editCls{
  // width : 60px;
  // cursor:pointer;
  color: blue($color: #169af1);
}
.inputCls{
  margin-bottom:10px;
  margin-right:83px;
}
.actCls{
  text-align: center;
}

.delCls{
  // cursor:pointer;
  color: red;
}
@media only screen and (max-width:1024px){
  // .buttons {
  //   margin-top: 2px;
  //   margin-right: 32px !important;
  // }
  .butt {
    margin-top: 1px;
    margin-right: 35px !important;
   }
  }
.buttons {
 margin-top: -11px;
  margin-right: 73px;
}
.butt {
  margin-top: 1px;
   margin-right:69px;
 }
button[type="submit"]
{
    width: 105px;  
}
 

.cursorCls{
  cursor:pointer;
}
.tables{  margin-right: -15px;
  margin-left: 35px;}