::ng-deep .ui-table-thead tr th.editCls {
  width: 100px;
}

.inputCls{
  margin-bottom: 10px;
}
  .tables{
  
    padding-right: 205px;
    padding-left:190px;
  }
           /* tablets, iPads (landscape) ---------- */
           @media screen and (max-width: 1024px){
            .tables{
        
              padding-right: 0px !important;;
              padding-left: 0px !important;
             
            }
      }
      /* Desktops and laptops ---------- */
      @media screen and (max-width: 1440px){
      
      .tables{
       padding-right: 181px;
       padding-left:125px;
      }
      }