
.buttons {
    margin-top: 22px;
    margin-right: 87px;
  }

  @media only screen and (max-width:1024px){
  
    .buttons{
        margin-right:61px !important;
    }
  }
  @media only screen and (max-width:1440px){
  
    .buttons{
        margin-right:74px;
    }
  }
