

// ::ng-deep .ui-table-thead tr th:nth-child(1) {
//     width: 150px;
// }
// ::ng-deep .ui-table-thead tr th:nth-child(2) {
//     width: 250px;
// }
// ::ng-deep .ui-table-thead tr th:nth-child(3) {
//     width: 150px;
// }
// ::ng-deep .ui-table-thead tr th:nth-child(4) {
//     width: 250px;
// }
::ng-deep .ui-table-thead tr th.editCls {
    width: 100px;
    /* text-align: center; */
}

