
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4>Associate Information</h4>
      </div>
  <div class="panel-body ">
      <div class="col-lg-12">
          <div style="text-align: right">
              <input type="text" pInputText size="50" placeholder="Search" style="width: 20%; margin-bottom: 10px;"
                (input)="dt1.filterGlobal($event.target.value, 'contains')" class="inputCls" />
            </div>
    <p-table #dt1 [columns]="cols" [value]="associateInfoList" [paginator]="true" dataKey="vin" [rows]="PageSize"
     [resizableColumns]="true" [reorderableColumns]="true"
      [style]="{ 'white-space': 'nowrap'}" [(selection)]="selectedRow"
     >
     
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn
            pReorderableColumn>
            {{ col.header }}

            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="editCls text-center" width="100px">Edit</th>
        </tr>

      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
            <div>{{ rowData[col.field] }}</div>
          </td>
          <td style="cursor: pointer; text-align: center">
            <a>
              <i class="editCls" title="Edit" class="fa fa-pencil-square-o fa-lg"
                (click)="editAssociatejoining(rowData)"></i>
            </a>
          </td>
        </tr>

      </ng-template>
    </p-table>
    </div>
  </div>
  </div>