
.edit{
 
    cursor:pointer;
}


::ng-deep .ui-table-thead tr th.editCls {
   width: 80px;
   
}
button[type="submit"]
{
    width: 105px;  
}

.center{
     margin-left:295px;

  }
  .tables{
  
     //padding-left: 161px;
    padding-right: 418px;
  }
      /* tablets, iPads (landscape) ---------- */
      @media screen and (max-width: 1024px){
        // .buttons{
        //     margin-top:20px !important;
        // }
        .center {
            margin: auto !important;
          
           
          }
          .tables{
      
            padding-right: 0px !important;;
            padding-left: 0px !important;
           
          }
  }
  /* Desktops and laptops ---------- */
  @media screen and (max-width: 1440px){
  
  .tables{
   padding-right: 365px;
  }

  .center{
   margin-left:224px;
  
  }
  }
  @media screen and (min-width: 40.063em){
  .ui-md-4 {
      width: 49.3333%;
  }
}
 
      @media screen and (min-width: 64.063em){
.ui-lg-4 {
    width: 40.3333%;
}
      }
    