
  <div class="panel-heading">
    <div class="panel-title">KRA Measurement Types</div>
  </div>
  <div class="panel-body">
    <div class="center">
    <form [formGroup]="measurementForm">
      <div class="row">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4 ui-lg-4">
            <div class="box">
              <label id="label">KRA Measurement Type:
                <span style="color: red">*</span>
              </label>&nbsp;
              <input type="text" (keypress)="omitSpecialChar($event)" formControlName="measurementType" maxlength="70" [(ngModel)]="measurementType"
                (change)="validateMeasurementType(measurementType)" pInputText>
              <div *ngIf="measurementFormSubmitted && (!measurementForm.controls['measurementType'].valid && measurementForm.controls['measurementType'].dirty)||(measurementFormSubmitted && !measurementForm.controls['measurementType'].valid)">
                <i style="color: red" class="fa fa-exclamation-circle"></i>
                <span style="color: red">KRA Measurement Type is required.</span>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-4">
          <div class="buttons">
          <button type="submit" class="btn btn-primary" style="cursor:pointer;" *ngIf="buttonTitle == 'Add'" (click)="createKraMeasurementType()">
            <i class="fa fa-plus"></i>&nbsp;Add</button>&nbsp;
          <button type="submit" class="btn btn-primary" style="cursor:pointer;" *ngIf="buttonTitle == 'Update'" (click)="updateKraMeasurementType()">
            <i class="fa fa-floppy"></i>&nbsp;Update</button>&nbsp;
          <button type="button" class="btn btn-default" style="border: 1px solid #337ab7;color:#337ab7;cursor:pointer;" (click)="cancel()">
            <i class="fa fa-eraser"></i>&nbsp;Clear</button>
        </div>
        </div>
      </div>
  </div>
  </form>
  <br>
  <div class="content-fluid">
    <div class="tables">
      <p-table #dt1 [columns]="cols" [value]="measureTypeList" [paginator]="true" dataKey="vin" [rows]="PageSize" [resizableColumns]="true"
        [reorderableColumns]="true" [style]="{ 'white-space': 'nowrap'}" selectionMode="multiple" stateStorage="session"
        stateKey="statedemo-session">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" class="iconCls"></i>
            <input type="text" style="width:30%;" pInputText size="50" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
              class="inputCls" />
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field" pResizableColumn
              pReorderableColumn>
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th class="editCls ">Edit</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
              <div>{{ rowData[col.field] }}</div>
            </td>
            <td class="edit" style="text-align: center;">
              <a  (click)="editMeasurement(rowData.value, rowData.label)" >
                <i title="Edit " class="fa fa-pencil-square-o fa-lg editCls"></i>
              </a>
              <!-- <a style="margin-top:2px;cursor: pointer">
                    <i title="Delete" class="fa fa fa-trash-o fa-lg" (click)="deleteMeasurement(rowData.value)"></i>
                  </a> -->
            </td>
          </tr>
        </ng-template>
        <ng-template *ngIf="!measureTypeList" pTemplate="summary">
          <div style="text-align: left">
            No records found
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
</div>

<p-confirmDialog appendTo="body" key="kraMeasurementType" width="500"></p-confirmDialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>