
  <div class="panel-heading">
    <div class="panel-title">KRA Aspects</div>
  </div>
  <div class="panel-body">
    <div class="center">
    <div class="row">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-4">
          <div class="box">
            <label id="label">Department:
              <span style="color: red">*</span>
            </label>
            <div>
            <p-dropdown name="department" [options]="departmentList" filter="true" [(ngModel)]="kraAspectData.DepartmentId" 
            [style]="{'width':'80%'}" placeholder="Select a Department" required (onChange)="getKraAspects(kraAspectData.DepartmentId);dt1.reset()"></p-dropdown>
            </div>
            <div *ngIf="aspectFormSubmitted && kraAspectData.DepartmentId==null ">
              <i style="color: red" class="fa fa-exclamation-circle"></i>
              <span style="color: red">Department is Required.</span>
             
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-3">
          <div class="box">
            <label id="labels">Aspect Name:
              <span style="color: red">*</span>
            </label>
         <div>
            <p-multiSelect [style]="{'width':'80%'}" name="aspectName" [options]="aspectsList" [panelStyle]="{minWidth:'12em'}" [(ngModel)]="aspectIds"
            defaultLabel="Choose Columns" filter="filter"></p-multiSelect>
         </div>

            
            <div *ngIf="aspectFormSubmitted && aspectIds.length==0">
              <i style="color: red" class="fa fa-exclamation-circle"></i>
              <span style="color: red">Aspect Name is required.</span>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-3">
          <div class="box">
              <div class="buttons">
            <button type="submit" class="btn btn-primary" style="cursor:pointer;" *ngIf="buttonTitle == 'Add'" (click)="saveAspect()"> <i class="fa fa-plus"></i>&nbsp;Add</button>&nbsp;
            <button type="submit" class="btn btn-primary" style="cursor:pointer;" *ngIf="buttonTitle == 'Update'" (click)="updateAspect()"> <i class="fa fa-floppy"></i>&nbsp;Update</button>&nbsp;
            <button type="button" class="btn btn-default" style="cursor:pointer;" (click)="cancel()"><i class="fa fa-eraser"></i>&nbsp;Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="tables">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4"> {{gridMessage}}</div>
            <div class="ui-g-12 ui-md-4 ui-md-offset-4"> <i class="fa fa-search" class="iconCls"></i>

              <input type="text" pInputText size="50" style="width:70%; margin-bottom: 10px;" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                class="inputCls" /></div>
        </div>
        <p-table #dt1 [columns]="cols" [value]="kraAspectsList" [paginator]="true" dataKey="vin" [rows]="PageSize" 
          [resizableColumns]="true" [reorderableColumns]="true" [style]="{ 'white-space': 'nowrap'}" >
       
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                {{ col.header }}
    
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <!-- <th class="editCls text-center" width="100px">Edit</th> -->
              <th class="text-center" >Delete</th>
            </tr>
          </ng-template>
          <!-- <ng-template pTemplate="summary">
            <div style="text-align: left">
              {{gridMessage}}
            </div>
          </ng-template> -->
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
                <div>{{ rowData[col.field] }}</div>
              </td>
              <!-- <td class="text-center">
                <a>
                  <i class="editCls" title="Edit" class="fa fa-pencil-square-o fa-lg" (click)="editAspect(rowData.AspectId,kraAspectData.DepartmentId,rowData.KRAAspectID,rowData.KRAAspectName)"></i>
    
                </a>
              </td> -->
              <td style="text-align: center; cursor: pointer;">
                <a>
                  <i title="Delete" class="fa fa-trash fa-lg delCls"  (click)="deleteKraAspect(rowData)"></i>  
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      </div>
  </div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
