
 ::ng-deep .ui-table-thead tr th.viewCls {
    width: 100px;
    text-align: center;
    
}
::ng-deep .ui-table-thead tr th.actCls {
    width: 150px;
    text-align: center;
    
}
 #dashboardbtn{
     margin-top: -7px;
 }
 .inputCls{
     margin-bottom:10px;
 }

 