<footer class="main-footer">

        <div class="pull-right hidden-xs">
            <a class="url" href="mailto:india.hrms.support@senecaglobal.com">
                Report a bug
            </a>
        </div>

        <strong>Developed by
            <a href="http://senecaglobal.com/" target="_blank">SenecaGlobal.</a>
        </strong>
    </footer>