.btn-default {
    border: 1px solid #337ab7;
    color: #337ab7;
}


.exportToExcel {
    background: url('../../../../assets/images/excel.png') no-repeat;
    margin-top: -3px;
    padding-right: 47px;
    width: 30px;
    float: right;
    padding-top: 27px;
    cursor: pointer;
    }
.disable-scroll .ui-dialog-content {
  overflow: hidden !important;
}
.ui-multiselect-label{
    margin-left:5px;
}
button[type="submit"]
{
    width: 105px;  
}

.buttons{
    margin-right:107px;
}
.dailog{
    margin-left:57px;
}


