
   button[type="submit"]
{
    width: 105px;
  
}
input[type="text"],
input[type="email"],
.dropdowns
{
    width: 70%;
 
}
.buttons {
    margin-top: 22px;
    margin-right: 102px;
  }

  .form-horizontal{
     padding-left: 20px;
     padding-right: 20px;

  }