<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Assign Manager To Project</h4>
    </div>
    <div class="panel-body">
        <form  class="form-horizontal" [formGroup]="myForm" novalidate (ngSubmit)="assignManagers()">
            <div class="row " class="form-group">
                    <div class="col-md-6 col-lg-4">
                    <label>Project Name</label>
                    <div class="ui-fluid">
                        <p-dropdown [options]="projectList" [style]="{'width':'70%'}" name="ddlProject" formControlName="ddlProject" [autoWidth]="false"
                            [disabled]="selectDisabled" (onChange)="getManagersByProject($event)" [filter]="true"></p-dropdown>
                    </div>
                    <div *ngIf="formSubmitted && myForm.controls['ddlProject'].hasError('required')">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Project Name is required.</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <label>Current Program Manager:</label>
                        <span>{{employee.ProgramManagerName}}</span>
                        <div>
                            <label>Change Program Manager</label>
                            <div class="ui-fluid">
                                <p-autoComplete name="ddlProgramManager" [style]="{'width':'70%'}" [suggestions]="filteredManagersIds" formControlName="ddlProgramManager"
                                    (completeMethod)="filteredManagers($event)" field="Name" >
                                </p-autoComplete>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                            <label>Current Reporting Manager:</label>
                            <span>{{employee.ReportingManagerName}}</span>
                            <div>
                                <label>Change Reporting Manager</label>
                                <div class="ui-fluid">
                                    <p-autoComplete name="ddlReportingManager" [style]="{'width':'70%'}" [suggestions]="filteredManagersIds" formControlName="ddlReportingManager"
                                        (completeMethod)="filteredManagers($event)" field="Name" >
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                <br/>
            </div>
         
            <div class="row" class="form-group">
               
                <div class="col-md-6 col-lg-4">
                    <div>
                        <label>Current Lead:</label>
                        <span>{{employee.LeadName}}</span>
                    </div>
                    <label>Change Lead</label>
                    <div class="ui-fluid">
                        <p-autoComplete name="ddlLead" [suggestions]="filteredManagersIds" formControlName="ddlLead" [style]="{'width':'70%'}" (completeMethod)="filteredManagers($event)"
                            field="Name" >
                        </p-autoComplete>
                    </div>
                </div>
                <div *ngIf="formSubmitted && ((!myForm.controls['ddlLead'].valid) && (!myForm.controls['ddlReportingManager'].valid) && (!myForm.controls['ddlProgramManager'].valid))">
                    <i style="color: red" class="fa fa-exclamation-circle"></i>
                    <span style="color: red">Please enter atleast one manager</span>
                </div>
            </div>
            <div class="col-lg-12">
                    <section class="pull-right buttons">
                            <button id="submitButton" type="submit" class="btn btn-custom" style="cursor:pointer;">
                                    <i class="fa fa-floppy-o"></i>&nbsp;Save</button>&nbsp;
                    <button id="clearButton" type="button" class="btn btn-default" style="cursor:pointer;" (click)="clearValues()">
                        <i class="fa fa-eraser"></i>Clear</button>
                   
                    </section>
            </div>
        </form>
    </div>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>