<!-- <div class="panel panel-default  prospective-associate"> -->

  <div class="panel-heading">
    <h4>Prospective Associate
      <button type="submit" (click)="onAdd()" id="dashboardbtn" class="btn btn-primary pull-right">
        <i class="fa fa-plus"></i>&nbsp;Add</button>
      </h4>
  </div>
  <div class="panel-body prospective-associate">
    
    <div class="col-lg-12">
        <div style="text-align: right">
            <input type="text" pInputText size="50"   style="width:20%; margin-bottom: 10px;" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
              class="inputCls" />
          </div>
    <p-table #dt1 [columns]="cols" [value]="prosAssociatesList" [paginator]="true" dataKey="vin" [rows]="PageSize" 
      [resizableColumns]="true" [reorderableColumns]="true" [style]="{ 'white-space': 'nowrap'}" 
       responsive="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
            {{ col.header }}

            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="editCls">Edit</th>
          <th class="confirmCls" style="width: 100px;">confirm</th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
            <div>{{ rowData[col.field] }}</div>
          </td>
          <td class="text-center" style="width: 100px;cursor: pointer;">
            <a>

              <i class="editCls" title="Edit" (click)="onEdit(rowData)" class="fa fa-pencil-square-o fa-lg"></i>
            </a>
          </td>

          <td class="text-center" style="width: 100px;">
            <a>
              <!-- <button type="button" data-toggle="modal"class="btn btn-primary btn-xs" (click)="onConfirm(selectedData)">Confirm</button> -->
              <button type="button" data-toggle="modal" class="btn btn-primary btn-xs" (click)="onConfirm(rowData)">Confirm</button>
            </a>
          </td>
        </tr>

      </ng-template>
    </p-table>
</div>
  </div>
<!-- </div> -->