<div class="panel panel-default">

    <div class="panel-heading">
        <div class="panel-title">
            Skills
        </div>
    </div>
    <div class="panel-body">
<!-- 
        <div class="container-fluid "> -->
            <form [formGroup]="addSkill" class="form-horizontal">
                <div class="row">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <div class="box">
                                    <p-checkbox [style]="{'height':'100%'}" (click)="CheckedIsPrimary()" name="checked" [formControl]="addSkill.controls['isPrimary']"
                                    binary="true"></p-checkbox> &nbsp;
                                <label>Is Primary:</label>
                            </div>
                        </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-lg-3">
                                        <div class="box">
                                                <label>Skill</label>
                                                <span style="color: red">*</span>
                                                <div class="ui-fluid">
                                                    <p-autoComplete formControlName="skillID" [suggestions]="filteredSkillsList" [style]="{'width':'70%',' border': '1px solid #ccc'}"
                                                        (completeMethod)="filteredMultipleSkills($event)" field="Name"  [forceSelection]="true">
                                                    </p-autoComplete>
                                                </div>
                                                <span *ngIf="formSubmitted && addSkill.get('skillID').hasError('required')" style="color: red; display: block;">Select Skill</span>
                                        </div>
                                    </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <div class="box">
                                    <label>Proficiency Level</label>
                                    <div class="ui-fluid">
                                        <p-dropdown [style]="{'width':'70%'}" [options]="proficiencyLevels" formControlName="proficiencyLevelId"></p-dropdown>
                                    </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <div class="box">
                                    <label>Last used</label>
                                    <span *ngIf="showRequired == true" style="color: red">*</span>
                                    <div class="ui-fluid">
                                        <input type="text" pInputText style="width: 70%;" maxlength="4" formControlName="LastUsed" placeholder="(in years)" />
                                        </div>
                                        <i style="color: red;  display : block;" *ngIf="formSubmitted && addSkill.get('LastUsed').hasError('required')" class="fa fa-exclamation-circle errorCircle">Last Used is required</i>
                                        <i style="color: red;  display: block;" *ngIf="formSubmitted && addSkill.get('LastUsed').hasError('pattern')" class="fa fa-exclamation-circle errorCircle">Last Used is Invalid</i>
                                   
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <div class="box">
                                    <label>Experience in months</label>
                                    <span *ngIf="showRequired == true" style="color: red">*</span>
                                    <div class="ui-fluid">
                                        <input type="text" pInputText style="width: 70%;" maxlength="3" minlength="1" (keypress)="onlyForNumbers($event)" formControlName="experience"
                                            placeholder="(In Months)" />
                                            </div>
                                        <i style="color: red;  display: block;" *ngIf="errorMsg" class="fa fa-exclamation-circle errorCircle">Must be greater than 1 and should not exceed 500</i>
                                        <i style="color: red;  display: block;" *ngIf="formSubmitted && addSkill.get('experience').hasError('required')" class="fa fa-exclamation-circle errorCircle">Experience is required</i>
                                    
                            </div>
                        </div>
                      
                      
                    </div>
                    <div class="col-lg-12">
                            <section class="pull-right buttons">
                                    <button type="submit" class="btn btn-custom" style="cursor:pointer;" (click)="onSave()">
                                            <i class="fa fa-floppy-o"></i>&nbsp;{{btnLabel}}</button>  &nbsp;
                                <button type="button" class="btn btn-default" style="cursor:pointer;" (click)="OpenConfirmationDialog()">
                                    <i class="fa fa-eraser"></i>Clear</button>
                            </section>
                        </div>
                </div>
            </form>
        <!-- </div> -->
        <div class="row  tables p-2">
            <div class="col-lg-12">
                            <div style="text-align: right">
                                <input type="text" pInputText size="50" style="width:20%; margin-bottom: 10px;" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                    class="inputCls" />
                            </div>
                        
                <p-table #dt1 [columns]="cols" [value]="SkillsGridData" [paginator]="true" dataKey="vin" [rows]="PageSize" 
                    [resizableColumns]="true" [reorderableColumns]="true" [style]="{ 'white-space': 'nowrap'}">
                   
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" class="text-center" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                                {{ col.header }}

                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th class="editCls">Edit</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">

                        <tr>
                            <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]" class="ui-resizable-column">
                                {{ col.type ? col.type.transform(rowData[col.field], col.arg1, col.arg2, col.arg3) : rowData[col.field] }}
                            </td>

                            <td  style="text-align: center; cursor: pointer;">
                                <a>
                                    <i class="editCls" title="Edit" class="fa fa-pencil-square-o fa-lg" (click)="editSkill(rowData)"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<div class="pull-right buttons" *ngIf="showSubmitButton">
    <button class="btn btn-custom" style="cursor:pointer;" (click)="onSubmit()">
        <i class="fa fa-floppy-o"></i>&nbsp;Submit</button>
    &nbsp;
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Confirmation" appendTo="body" icon="pi pi-exclamation-triangle"></p-confirmDialog>