
  :host ::ng-deep.p-col-2 {
    width: 12.6667%;
}
.center {
    margin-left: 25%;
 
  }

  button[type="buttons"]
{
    width: 105px;  
}

@media screen and (max-width: 1024px) {
    .center {
        margin: auto !important;
       
      }

      .buttons {
        margin-top: -34px !important;
        margin-right: 13px;
      }
     :host ::ng-deep .ui-dialog {
       width: 852px ;
      }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .center {
        margin: auto !important;
       
      }
  } 

.buttons {
    margin-top: 2px;
    margin-right: 13px;
  }
