<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Skill Report</h4>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="center">
        <div class="row">
          <div class="ui-fluid">
            <div class="p-grid">
              <div class="p-col-4">
                <div class="box">
                  <p-autoComplete name="skillSearch" [style]="{'width':'100%'}" [suggestions]="filteredSkills"
                    [forceSelection]="true" (completeMethod)="getSkillsBySearchString($event)" field="Name"
                    [multiple]="true" placeholder="Search Skill"
                    [(ngModel)]="associateSkillSearchObject.selectedSkillIds">
                  </p-autoComplete>
                </div>
              </div>
              <div class="p-col-6">
                <div class="box">
                  <button type="button" class="btn btn-custom" style="cursor:pointer;" (click)="searchData()">
                    <i class="fa fa-search"></i>&nbsp;Search</button>&nbsp;
                  <button type="button"  class="btn btn-default"  style="cursor:pointer;"  (click)="clear()">
                    <i class="fa fa-eraser"></i>&nbsp;Clear</button>
                </div>
              </div>
            </div>
          </div>
          <div class="ui-fluid">
            <div class="p-grid">
              <div class="p-col-2">
                <div class="box">
                  <label class="switch ui-fluid">
                    <input type="checkbox" [disabled]="canDisableCheckBox()"
                      [checked]="associateSkillSearchObject.IsPrimary" name="Primary" id="chkPrimary"
                      [(ngModel)]="associateSkillSearchObject.IsPrimary">
                    <span class="slider round"></span>
                  </label>&nbsp;
                  <label class="switchLabel">Primary</label>
                </div>
              </div>
              <div class="p-col-2">
                <div class="box">
                  <label class="switch ui-fluid">
                    <input type="checkbox" [disabled]="canDisableCheckBox()"
                      [checked]="associateSkillSearchObject.IsSecondary" name="Secondary" id="chkSecondary"
                      [(ngModel)]="associateSkillSearchObject.IsSecondary">
                    <span class="slider round"></span>
                  </label>&nbsp;
                  <label class="switchLabel">Secondary</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>

    <!-- table -->
    <div class="container-fluid">
      <div class="col-lg-12">
        <div class="ui-helper-clearfix">
          <span style="float:left">
            <b>Total Records:</b>
            <span>{{totalRecords}}</span>
          </span>
          <span style="float:right">
            <input type="search" pInputText size="50" placeholder="Search"
              (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:70%; margin-bottom: 10px;">
          </span>
        </div>

        <p-table #dt1 [columns]="cols" [value]="associateSkillSearchData" [rowsPerPageOptions]="PageDropDown"
          [totalRecords]="totalRecords" [paginator]="true" [rows]="PageSize" datakey="EmployeeId"
          [resizableColumns]="true" [first]="first" columnResizeMode="expand" [reorderableColumns]="true"
          [(selection)]="selectedAssociateSkillSearch">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [ngStyle]="getStyles(col.type)" [pSortableColumn]="col.field"
                pResizableColumn pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th class="text-center">Project Details</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]" class="ui-resizable-column"
                [ngStyle]="getStyles(col.type)">
                <span *ngIf="col.field != 'PrimarySkill' && col.field != 'SecondarySkill'">
                  {{ rowData[col.field] }}
                </span>
                <span *ngIf="col.type == truncate">
                  {{ col.type.transform(rowData[col.field], 30) }}
                  <a style="cursor:pointer;" *ngIf="rowData[col.field]!=null"
                    (click)="ViewAllSkills(rowData, col.field)">
                    <span> ...more</span>
                  </a>
                </span>
              </td>
              <td class="text-center">
                <a style="cursor:pointer;" (click)="GetProjectDetailsOfEmployee(rowData)">Details</a>
                &nbsp;&nbsp;
                <a style="cursor:pointer;" (click)="getProjectHistoryByEmployee(rowData)">History</a>
              </td>
            </tr>
          </ng-template>
          <div style="text-align: left">
            {{gridMessage}}
          </div>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog [header]=skillDetailsHeader [(visible)]="displaySkills" appendTo="body" [modal]="true" [responsive]="true"
  width=900 height=450>
  <div style="height:450px;">
    <div style="text-align: right">
      <input type="text" pInputText size="50" style="width: 20%" placeholder="Search"
        (input)="skillTable.filterGlobal($event.target.value, 'contains')" />
    </div>

    <p-table #skillTable [columns]="skillsCols" [value]="skillsData" [resizableColumns]="true" [first]="first"
      [reorderableColumns]="true" [paginator]="true" [rows]="PageSize">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn
            [ngStyle]="getStyles(col.type)">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]" [ngStyle]="getStyles(col.type)">
            <div>{{ rowData[col.field] }}</div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<p-dialog [header]=headerOfProjectDetails [(visible)]="displayProjectDetails" appendTo="body" [modal]="true"
  [responsive]="true" width=900 height=300>
  <div style="height:300px;">
    <p-table #project [value]="employeeProjectData" [resizableColumns]="true" [first]="first" columnResizeMode="expand"
      [reorderableColumns]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Project</th>
          <th>Allocation Percentage</th>
          <th>Billable</th>
          <th>Critical</th>
          <th>Reporting Manager</th>
          <th>Lead Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td> {{ rowData.Project }}</td>
          <td style="text-align: right;"> {{ rowData.AllocationPercentage }}</td>
          <td *ngIf=" rowData.Billable == true" style="text-align: center;">
            <span>
              <i style="color: green;" class="fa fa-check"></i>
            </span>
          </td>
          <td *ngIf=" rowData.Billable == false" style="text-align: center;">
            <span>
              <i style="color: red" class="fa fa-times"></i>
            </span>
          </td>
          <td style="text-align: center;" *ngIf="rowData.isCritical == true">
            <span>
              <i style="color: green;" class="fa fa-check"></i>
            </span>
          </td>
          <td *ngIf=" rowData.isCritical == false" style="text-align: center;">
            <span>
              <i style="color: red" class="fa fa-times"></i>
            </span>
          </td>
          <td> {{ rowData.ReportingManager }}</td>
          <td> {{ rowData.Lead }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<p-dialog [(visible)]="showProjectHistory" appendTo="body" header="{{ heading }}" height="350" width="800"
  responsive="true" modal=true showHeader=true closeOnEscape=true closable=true>
  <app-associate-project-history></app-associate-project-history>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>