.btn-default {
          border: 1px solid #337ab7;
          color: #337ab7;
   }
.switch {
  position: relative;
  display: inline-block;
  margin-bottom: -5px;
  margin-top: 2px;
  width: 39px;
  height: 20px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 15px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.exportToExcel {
  background: url('../../../../assets/images/excel.png') no-repeat;
  margin-top: -3px;
  padding-right: 47px;
  width: 30px;
  float: right;
  padding-top: 27px;
  cursor: pointer;
  }
.ui-multiselect-label{
    margin-left:5px;
}
button[type="submit"]
{
    width: 105px;  
}
.dailog{
  margin-left: 48px;
}
.buttons{
  margin-right:96px;
}
@media only screen and (max-width:1024px){
  .buttons {
    margin-right: 135px !important;
  }
  }
