<!-- <div class="panel panel-default"> -->
  <div class="panel-heading">
    <div class="row" style="padding: 10px;">
      <div class="col-12">
        <span style="float: left;">
          <h4 class="panel-title">Resource Report</h4>
        </span>
        <span style="float: right;">
          <button type="button" class="btn btn-primary btn-xs" (click)="onFilter()" title="Filter">
            <i class="fa fa-filter fa-lg"></i>
          </button>

          <a *ngIf="associateUtilizationReportList.length>0" (click)="table.exportCSV()" title="Export to Excel">
            <div class="exportToExcel"></div>

          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-lg-12">

            <div class="p-grid p-justify-between">
                  <div class="p-col-2">
                    <div class="box">
                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected"
                        [style]="{'minWidth': '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
                    </div>
                  </div>
                  <div class="p-col-2">
                    <div class="box">
                      <span>
                        <b>Total Records:</b>
                        <span>{{totalRecordsCount >0 ? totalRecordsCount: 0}}</span>
                      </span>
                    </div>
                  </div>
                  <div class="p-col-4">
                    <div class="box">
                     <input type="text" pInputText size="50" placeholder="search" (input)="table.filterGlobal($event.target.value, 'contains')"
                  style="width:50%"  class = "inputCls">
                    </div>
                  </div>
                </div>
      <p-table #table [value]="associateUtilizationReportList" [columns]="selectedColumns" dataKey="vin" [rows]="PageSize" [responsive]="true"
        [rowsPerPageOptions]="PageDropDown" [paginator]="true" [style]="{ 'white-space': 'nowrap'}" [resizableColumns]="true"
        columnResizeMode="expand" [reorderableColumns]="true"  [resetPageOnSort]="true">
       
           
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" class="text-center" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>{{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]" class="ui-resizable-column">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
          <div style="text-align: left">
            {{gridMessage}}
          </div>
        </ng-template> -->
    
      </p-table>
      <div *ngIf="associateUtilizationReportList.length==0" style="text-align: left">
          No Records Found
        </div>
    </div>
  </div>
<!-- </div> -->

<p-dialog header="Filters" appendTo="body" width=1000 height=410 [(visible)]="filterDisplay" responsive="true" modal=true
  showEffect="fade" showHeader=true closeOnEscape=true closable=true>
  <div style="height:410px;">
    <div class="dailog">
    <div class="row">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label>Associate Name</label>
            <div class="ui-fluid">
              <p-dropdown [options]="associatesList" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.EmployeeId"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label>Technology</label>
            <div class="ui-fluid">
              <p-dropdown [options]="technologyList" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.PracticeAreaId"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label>Project</label>
            <div class="ui-fluid">
              <p-dropdown [options]="projectsList" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.ProjectId"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label>Program Manager</label>
            <div class="ui-fluid">
              <p-dropdown [options]="programManagersList" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.ProgramManagerId"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label>Client</label>
            <div class="ui-fluid">
              <p-dropdown [options]="clinentsList" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.ClientId"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label>Experience</label>
            <div class="ui-fluid">
              <p-dropdown [options]="experienceList" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.ExperienceId"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label>Grade</label>
            <div class="ui-fluid">
              <p-dropdown [options]="gradesList" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.GradeId"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label>Designation</label>
            <div class="ui-fluid">
              <p-dropdown [options]="designationsList" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.DesignationId"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label>Utilization Percentage</label>
            <div class="ui-fluid">
              <input type="range" min="0" max="100" step="25" [(ngModel)]="utilizationPercentage" style="width: 70%" />{{utilizationPercentage}}
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label class="switchLabel">Billable</label>&nbsp;&nbsp;
            <div class="ui-fluid">
              <p-dropdown [options]="isBillable" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.IsBillable"(onChange)="checkBillable($event)"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
          <div class="box">
            <label class="switchLabel">Critical</label>&nbsp;&nbsp;
            <div class="ui-fluid">
              <p-dropdown [options]="isCritical" [style]="{ 'width': '70%'}" [autoWidth]="false" [(ngModel)]="reportsFilterData.utilizationReportFilterData.IsCritical"
              (onChange)="checkCritical($event)"
                [filter]="true"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <section class="pull-right buttons">
            <button type="submit" class="btn btn-primary" style="cursor:pointer;" (click)="onsearchByFilter();table.reset()">
                <i class="fa fa-filter"></i>&nbsp;Apply</button>&nbsp;
          <button type="button" class="btn btn-default" style="cursor:pointer;" (click)="OpenConfirmationDialog()">
            <i class="fa fa-eraser"></i>&nbsp;Clear</button>
        </section>
      </div>
      </div>
    </div>
  </div>
</p-dialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Confirmation" appendTo="body" icon="pi pi-exclamation-triangle"></p-confirmDialog>