<div class="row" style="margin-left:-2px;">
  <!-- <div class="panel panel-default m-2 skill-details"> -->
  <div class="panel panel-default ">
    <div class="panel-heading">
      <h4>Program Manager</h4>
    </div>
    <div class="panel-body">
      <div class="col-lg-12">
          <div style="text-align: right">
              <input type="text" pInputText size="50" placeholder="Search" style="width: 20%" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                class="inputCls" />
            </div>
        <p-table #dt1 [columns]="cols" [value]="ProjectsList" [paginator]="true" [rows]="PageSize" [resizableColumns]="true" [reorderableColumns]="true"
          [rowsPerPageOptions]="PageDropDown" [style]="{ 'white-space': 'nowrap'}">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th class="editCls">View</th>
             
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr let i="index;">
              <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
                <div>{{ rowData[col.field] }}</div>
              </td>
              <td  style="cursor: pointer; text-align: center;" (click)="ViewProject(rowData)">
                <a>
                  <i class="fa fa-eye fa-lg "></i>
                </a>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>