<div class="panel panel-default">
  <div class="panel-heading">
      <div class="panel-title"><h4 >Roles Data</h4></div>
  </div>
<div class="panel-body">
  <div class="center">  
<form [formGroup]="searchDepartment">
    <div class="row">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4 ui-lg-3">
                <div class="box">
                    <label>Department:</label>&nbsp;
                      <p-dropdown styleClass="roleDropdown" [style]="{'width':'70%'}" name="DepartmentId" formControlName="DepartmentId" [options]="departmentList" filter="true"
                        ></p-dropdown>
                  
                  </div>
                  </div>
                  <div class="ui-g-12 ui-md-4 ui-lg-3">
                      <div class="box">
                          <button type="submit" class="btn btn-custom" (click)="searchRoleByDepartment(searchDepartment.value.DepartmentId);dt1.reset()" style="padding-right: 10px;"><i class="fa fa-search"></i>&nbsp;SEARCH</button>&nbsp;
                          <button type="button" class="btn btn-custom" (click)="createRole(searchDepartment.value.DepartmentId)"><i class="fa fa-plus"></i>&nbsp;ADD</button>
                        </div>
                        </div>
                  </div>
                  </div>
</form>
</div>

</div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
    <div class="tables"> 
        
            <div style="text-align: right">
              <input type="text" pInputText size="50" placeholder="Search" style="width:30%" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                class="inputCls">
            </div>
         
    <p-table #dt1 [columns]="cols" [value]="rolesData" [paginator]="true" [rows]="10" [rows]="PageSize"
      [resizableColumns]="true" [reorderableColumns]="true"  [(selection)]="selectedRoleData">
      
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th class="editCls">Edit</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
            {{rowData[col.field]}}
          </td>
          <td class="editBtn">
            <a>
              <i title="Edit" class="fa fa-pencil-square-o fa-lg editCls" (click)="editRoles(rowData)"></i>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>
  </div>

