.inputCls{
  margin-bottom: 10px;
}
  .buttons{
      margin-right:99px;
      margin-bottom:10px;
  }
  
  .center{
    margin-left:381px;
  }
  .tables{
    padding-right: 212px;
    padding-left: 210px;
  }
 
  @media screen and (min-width: 64.063em){
  .ui-lg-3 {
      width: 34%;
  }
  }
  
  @media screen and (max-width: 1024px){
    .center {
      margin: auto !important;         
  }
  .buttons{
      margin-right:35px !important;
      margin-top: -42px !important;
  }
  .tables{ 
    padding-right:0px !important;
    padding-left: 0px !important;
   
  }
    }
    

  /* Desktops and laptops ---------- */
  @media screen and (max-width: 1440px){
   
    .tables{
      padding-right: 181px;
      padding-left: 229px;

     }

    .buttons {
      margin-right: 74px;
  }
  }
