<mat-toolbar class="main-header">
  <mat-toolbar-row>
    <div>
      <a class="logo">
        <img src="../../../../assets/images/logo_45x45.png">
        <span class="logo-lg" [routerLink]="['/shared/dashboard', 'vwaction']">
          &nbsp;&nbsp; Associate Portal
        </span>
      </a>
    </div>
    <span class="toolbar-spacer"></span>
    <div class="user-name">
      <span class="hidden-xs">{{fullName | uppercase}}</span>
    </div>
    <button class="toolbar-icon" mat-icon-button [matMenuTriggerFor]="menu">
      <i *ngIf="!isImagePresent" class="fa fa-user" aria-hidden="true"></i>
      <img *ngIf="isImagePresent" [src]="image">
    </button>
    <mat-menu #menu="matMenu">
      <div class="logout-button">
        <a (click)='logout()' class="btn btn-danger">Sign out</a>
      </div>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="ionbox">
  <div class="container">
    <p-card class="col-md-4 col-lg-4" *ngFor="let role of roles" [style]="{'width': '250px','height':'91px'}">
      <div class="iconbox" (click)="changeRole(role.label)">
        <div class="featureinfo">
          <h4 style="text-align: center">{{ role.label }}</h4>
        </div>
      </div>
    </p-card>
  </div>
</div>

<app-footer></app-footer>