// ul {
//     list-style-type: none;
//     text-decoration: none;
//     outline: none;
//     display: block;
//     float: left;
//     font-size: 14px;
//     line-height: 36px;
//     padding: 0 20px 0 40px;
//     background: #3399D1;
//     color: #FFF;
//     position: relative;
//     width: 100%;
// }
.tab{
    margin-left :5px;
}
li {
    display: inline;
    padding: 5px;
    cursor: pointer;
}

li:hover {
    background: skyblue;
}

li a {
    color: white;
}
.active{
    background: #367fa9;
}
#back{
  
    float: right; 
}