<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            ProjectType
        </div>
    </div>
    <div class="panel-body">
<div class="center">
        <form [formGroup]="addProjectType">
            <div class="row">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4 ui-lg-3">
                        <div class="box">
                            <label for="ProjectTypeCode">Project Type Code:</label>
                            <span style="color: red">*</span>&nbsp;
                            <input formControlName="ProjectTypeCode" style="width: 60%" name="ProjectTypeCode" required type="text" size="30" pInputText>
                            <div class="errMsg" *ngIf="addProjectType.get('ProjectTypeCode').hasError('required') && formSubmitted">
                                <span style="color: red;"> Project Code Required </span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-3">
                        <div class="box">
                            <label for="Description">Description:</label>
                            <span style="color: red">*</span>&nbsp;
                            <input formControlName="Description" style="width: 60%" name="Description" required type="text" size="30" pInputText>
                            <div class="errMsg" *ngIf="addProjectType.get('Description').hasError('required') && formSubmitted">
                                <span style="color: red;"> Description Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <section class="pull-right buttons">
                            <button type="submit" class="btn btn-custom" (click)="CreateProjectType()">
                                <i class="fa fa-floppy-o"></i>&nbsp;{{btnLabel}}</button> &nbsp;
                            <button type="button" class="btn btn-default" (click)="Reset()">
                                <i class="fa fa-eraser"></i>Clear</button>
                        </section>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>