button[type="submit"]
{
    width: 105px;  
}
.center{
    margin-left:270px;
  
  }
    .tables{
  
       padding-right: 257px;
     }
     .buttons {
         margin-right: 284px;
     }
         /* tablets, iPads (landscape) ---------- */
    @media screen and (max-width: 1024px){
      .center {
        margin: auto !important;         
      }
      .buttons {
        margin-right: 25px !important;
    }
      .tables{
  
        padding-right: 0px !important;;
        padding-left: 0px !important;
       
      }
}
/* Desktops and laptops ---------- */
@media screen and (max-width: 1440px){

.tables{
 padding-right: 242px;
}
.buttons {
  margin-right: 259px;
}
.center{
 margin-left:224px;

}
}

:host ::ng-deep .ui-inputtext{
  border:none;
  border-bottom: 1px solid blue;
}

:host ::ng-deep.ui-dropdown ,
:host ::ng-deep .ui-dropdown .ui-dropdown-trigger
{
  border:none;
}
