<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-middle text-bold">Associate Development Review Cycle</h4>
  </div>

  <div class="panel-body">
    <p-table #dt1 [columns]="cols" [value]="adrCycleList" [paginator]="true" [rows]="PageSize" [responsive]="true"
      columnResizeMode="expand" [resizableColumns]="true" [reorderableColumns]="true"
      [style]="{ 'white-space': 'nowrap'}" selectionMode="single" stateStorage="session" stateKey="statedemo-session">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="pull-right" style="padding-top: 10px;">
      <button id="submitButton" type="submit" class="btn btn-primary" (click)="updateADRCycle()"><i
          class="fa fa-floppy-o"></i>&nbsp;Save</button>
    </div>
  </div>
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>