<div class="panel-heading">
    <div class="panel-title">Map Associate Role</div>
</div>
<div class="panel-body">
    <div class="center">
        <div class="row">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <div class="box">
                        <label for="ddlDepartment">Department:</label>
                        <span style="color: red">*</span>&nbsp;
                        <p-dropdown [options]="departmentList" [style]="{ 'width': '70%'}" name="ddlDepartment" [autoWidth]="false" [(ngModel)]="associateRoleMapping.DepartmentId"
                            [filter]="true" (onChange)="getEmployeesByDepartmentId(associateRoleMapping.DepartmentId);dt1.reset()"></p-dropdown>
                        <div *ngIf="formSubmitted && (associateRoleMapping.DepartmentId==null || associateRoleMapping.DepartmentId==undefined)">
                            <i style="color: red" class="fa fa-exclamation-circle"></i>
                            <span style="color: red">&nbsp; Required.</span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <div class="box">
                        <label for="ddlKraRole">KRA Role:</label>&nbsp;
                        <p-dropdown [options]="kraRoleList" [style]="{ 'width': '70%'}" [disabled]="isNonDelivery" name="ddlKraRole" [autoWidth]="false"
                            [filter]="true" [(ngModel)]="associateRoleMapping.KRARoleId" (onChange)="getEmployeesByKraRoleIdAndFinancialYearId(associateRoleMapping.FinancialYearID,associateRoleMapping.KRARoleId);dt1.reset()"></p-dropdown>
                    </div>
                </div>
            
            </div>
            <div class="ui-g">
                    <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label for="ddlemployee">KRA:</label> 
                                <span style="color: red">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <p-dropdown [options]="rolesList" name="ddlEmployee" [style]="{ 'width': '70%'}" [autoWidth]="false" [filter]="true" [(ngModel)]="associateRoleMapping.KRAGroupId"></p-dropdown>
                                <div *ngIf="formSubmitted && (associateRoleMapping.KRAGroupId==null || associateRoleMapping.KRAGroupId==undefined)">
                                    <i style="color: red" class="fa fa-exclamation-circle"></i>
                                    <span style="color: red">&nbsp; Required</span>
                                </div>
        
                            </div>
                        </div>
                <div class="col-lg-12">
                    <section class="pull-right buttons">
                        <button type="button" class="btn btn-primary" (click)="submit(associateRoleMapping);dt1.reset()">
                            <i class="fa fa-floppy-o icon-margin"></i>Submit</button>&nbsp;
                        <button type="button" style="border: 1px solid #337ab7;color:#337ab7" class="btn btn-default" (click)="Clear()">
                            <i style="color: #337ab7;" class="fa fa-eraser"></i>&nbsp;Clear</button>
                    </section>
                </div>
            </div>
            <div class="row">
                  
                <div class="tables">
                                <div class="ui-g">
                                        <div class="ui-g-12 ui-md-6">
                                                <b>Total Records:</b>
                                                <span>{{associatesList.length}}</span>
                                        </div>
                                      
                                        <div class="ui-g-6 ui-md-6" style="text-align:right">
                                                <input type="text" pInputText size="50" style="width: 60%; margin-bottom: 10px;" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                                class="inputCls" />
                                        </div>
                                      </div>
                    <p-table #dt1 [columns]="cols" [value]="associatesList" [paginator]="true" [rows]="PageSize" [resizableColumns]="true" [reorderableColumns]="true"
                        [style]="{ 'white-space': 'nowrap'}">
                        <!--  dataKey="Id" [(selection)]="selectedEmployees" -->
                        
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body"  let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                                <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]" [ngStyle]="{'display': col.display}">
                                    <div>{{ rowData[col.field] }}</div>
                                </td>
                                </tr>
                                </ng-template>
                                
                    </p-table>
                    <div *ngIf="associatesList.length == 0" style="text-align: left">
                            No records found
                        </div>
                </div>
            </div>
        </div>
    </div>


    <p-confirmDialog appendTo="body" key="roleConfirmationDialog" width="500"></p-confirmDialog>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>