<div class="panel panel-default">
    <div class="panel-heading">
        <h4 [hidden]="currentProjectID != 0">Add Project</h4>
        <h4 [hidden]="currentProjectID == 0">Modify Project</h4>
    </div>
    <div class="panel-body">
        <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
            <div class="row" class="form-group">
                <div class="col-md-6 col-lg-4">
                    <label> Project Code
                        <span style="color: red">*</span>
                    </label>
                    <div>
                        <input pInputText [attr.disabled]="currentProjectID !=0 ? '':null" type="text" style="width:70%;" [(ngModel)]="project.ProjectCode"
                            formControlName="projectCode" placeholder="Project Code" />
                    </div>
                    <div *ngIf="formSubmitted && userform.controls['projectCode'].hasError('required')">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Project code is Required.</span>
                    </div>
                    <div *ngIf="formSubmitted && userform.controls['projectCode'].hasError('pattern')">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Project code is Invalid.</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label>
                        Project Type
                        <span style="color: red">*</span>
                    </label>
                    <div class="ui-fluid">
                        <p-dropdown [options]="projectTypes" [style]="{'width': '70%'}" formControlName="ProjectTypeId" [autoWidth]="false" [(ngModel)]="project.ProjectTypeId"
                            [filter]="true"></p-dropdown>
                    </div>

                    <div *ngIf="(!userform.controls['ProjectTypeId'].valid&&userform.controls['ProjectTypeId'].dirty)||(formSubmitted&&!userform.controls['ProjectTypeId'].valid)">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Project Type is Required.</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label>
                        Project Name
                        <span style="color: red">*</span>
                    </label>
                    <div>
                        <input pInputText type="text" style="width:70%;" [(ngModel)]="project.ProjectName" formControlName="projectName" placeholder=" Project Name"
                        />
                    </div>

                    <div *ngIf="formSubmitted && userform.controls['projectName'].hasError('required')">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Project name is Required.</span>
                    </div>
                    <div *ngIf="formSubmitted && userform.controls['projectName'].hasError('pattern')">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Project name is Invalid.</span>
                    </div>
                </div>

            </div>
            <div class="row" class="form-group">
                <div class="col-md-6 col-lg-4">
                    <label>
                        Program Manager
                    </label>
                    <div class="ui-fluid">
                        <p-autoComplete *ngIf="currentProjectID == 0" [suggestions]="filteredManagersIds" formControlName="programManager" [(ngModel)]="project.ProgramManager"
                            [style]="{'width':'70%'}" (completeMethod)="filteredManagers($event)" field="Name" placeholder="Enter Program Manager">
                        </p-autoComplete>

                    </div>

                    <input type="text" *ngIf="currentProjectID != 0" disabled="true" name="programManager" formControlName="programManager" pInputText
                        style="width:70%;background:#eee" [(ngModel)]="ProgramManager" />
                </div>
                <div class="col-md-6 col-lg-4">
                    <label>
                        Reporting Manager
                    </label>
                    <div class="ui-fluid">
                        <p-autoComplete name="reportingManager" *ngIf="currentProjectID == 0" [suggestions]="filteredManagersIds" formControlName="reportingManager"
                            [style]="{'width':'70%'}" [(ngModel)]="project.ReportingManager" (completeMethod)="filteredManagers($event)"
                            field="Name" placeholder="Enter Reporting Manager">
                        </p-autoComplete>
                    </div>
                    <input type="text" *ngIf="currentProjectID != 0" disabled="true" name="reportingManager" formControlName="reportingManager"
                        pInputText style="width:70%;background:#eee" [(ngModel)]="ReportingManager" />
                </div>

                <div class="col-md-6 col-lg-4">
                    <label>
                        Lead
                    </label>
                    <div class="ui-fluid">
                        <p-autoComplete name="lead" *ngIf="currentProjectID == 0" [suggestions]="filteredManagersIds" formControlName="lead" [style]="{'width':'70%'}"
                            [(ngModel)]="project.Lead" (completeMethod)="filteredManagers($event)" field="Name" placeholder="Enter Lead">
                        </p-autoComplete>
                    </div>
                    <input type="text" *ngIf="currentProjectID != 0" disabled="true" name="lead" formControlName="lead" pInputText style="width:70%;background:#eee"
                        [(ngModel)]="lead" />
                </div>
            </div>
            <div class="row" class="form-group">
                <div class="col-md-6 col-lg-4">
                    <label>
                        Planned Start Date
                    </label>
                    <div class="ui-fluid">
                        <p-calendar formControlName="plannedStartDate" [style]="{'width':'70%'}" placeholder="Select Planned Start Date" yearRange="2000:2030"
                            showIcon="true" monthNavigator="true" yearNavigator="true" [(ngModel)]="project.PlannedStartDate"
                            dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label>
                        Planned End Date
                    </label>
                    <div class="ui-fluid">
                        <p-calendar formControlName="plannedEndDate" [style]="{'width':'70%'}" placeholder="Select Planned End Date" yearRange="2000:2030"
                            showIcon="true" monthNavigator="true" yearNavigator="true" [(ngModel)]="project.PlannedEndDate" dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label>
                        Actual Start Date
                    </label>
                    <div class="ui-fluid">
                        <p-calendar formControlName="actualStartDate" [style]="{'width':'70%'}" placeholder="Select Actual Start Date" yearRange="2000:2030"
                            showIcon="true" monthNavigator="true" yearNavigator="true" [(ngModel)]="project.ActualStartDate"
                            dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="row" class="form-group">
                <div class="col-md-6 col-lg-4">
                    <label>
                        Actual End Date
                    </label>
                    <div class="ui-fluid">
                        <p-calendar formControlName="actualEndDate" [style]="{'width':'70%'}" placeholder="Select Actual End Date" yearRange="2000:2030"
                            showIcon="true" monthNavigator="true" yearNavigator="true" [(ngModel)]="project.ActualEndDate" dateFormat="yy-mm-dd"></p-calendar>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label>
                        Customer
                        <span style="color: red">*</span>
                    </label>
                    <div class="ui-fluid">
                        <p-dropdown [options]="customersList" formControlName="customer" [style]="{'width':'70%'}" [autoWidth]="false" [(ngModel)]="project.ClientId"
                            [filter]="true"></p-dropdown>
                    </div>
                    <div *ngIf="(!userform.controls['customer'].valid&&userform.controls['customer'].dirty)||(formSubmitted&&!userform.controls['customer'].valid)">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Customer is Required.</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label>
                        Technology
                        <span style="color: red">*</span>
                    </label>
                    <div class="ui-fluid">
                        <p-dropdown [options]="practiceAreas" [style]="{'width':'70%'}" formControlName="PracticeAreaId" [autoWidth]="false" [(ngModel)]="project.PracticeAreaId"
                            [filter]="true"></p-dropdown>
                    </div>

                    <div *ngIf="(!userform.controls['PracticeAreaId'].valid&&userform.controls['PracticeAreaId'].dirty)||(formSubmitted&&!userform.controls['PracticeAreaId'].valid)">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Technology is Required.</span>
                    </div>
                </div>
            </div>
            <div class="row" class="form-group">
                <div class="col-md-6 col-lg-4">
                    <label>
                        Department
                    </label>
                    <div class="ui-fluid">
                        <p-dropdown [options]="departments" [disabled]="true" [style]="{'width':'70%'}" formControlName="department" [autoWidth]="false"
                            [(ngModel)]="project.DepartmentId" [filter]="true"></p-dropdown>
                    </div>

                    <div *ngIf="(!userform.controls['department'].valid&&userform.controls['department'].dirty)||(formSubmitted&&!userform.controls['department'].valid)">

                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Department is Required.</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <label>
                        Status
                        <span style="color: red">*</span>
                    </label>
                    <div class="ui-fluid">
                        <p-dropdown [options]="statusList" formControlName="status" [style]="{'width':'70%'}" [autoWidth]="false" [(ngModel)]="project.IsActive"></p-dropdown>
                    </div>

                    <div *ngIf="(!userform.controls['status'].valid&&userform.controls['status'].dirty)||(formSubmitted&&!userform.controls['status'].valid)">
                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                        <span style="color: red">Status is Required.</span>
                    </div>
                </div>
            </div>
        </form>


        <div class="btns-pa col-md-12">
                
                <section class="pull-right">
                    &nbsp;
                    <button type="submit" class="btn btn-primary" *ngIf="currentProjectID==0" href="#" class="btn btn-custom">
                            <i class="fa fa-floppy-o"></i>&nbsp;Add Project </button>
                        <button type="submit" class="btn btn-primary" *ngIf="currentProjectID!= 0" href="#" class="btn btn-custom">
                            <i class="fa fa-floppy-o"></i>&nbsp;Update</button>
                        &nbsp;
                        <button type="button" href="#" class="btn btn-default" (click)="onCancel()">&nbsp;Cancel</button>
                </section>
            </div>
     
    </div>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>