<p-toast [style]="{marginTop: '80px'}"></p-toast>
<!-- <section class="container-fluid"> -->
    <!--HRM dashboard-->
    <div *ngIf="UserRole == 'Program Manager'">
        <!-- Program manager dashboard component -->
        <app-program-manager-dashboard></app-program-manager-dashboard>
    </div>

    <div *ngIf="UserRole == 'Department Head'">
        <!-- Delivary head -->
        <app-department-head-dashboard></app-department-head-dashboard>
    </div>

    <div class="row" style="margin-left:-2px;" *ngIf="isVisible" [hidden]="detailsList.length==0">
        <!-- <div class="panel panel-default m-2 skill-details"> -->
        <div class="panel panel-default ">
            <div class="panel-heading">
                <div class="panel-title">HR Manager</div>
            </div>
            <div class="panel-body dashboard-details">
                    <div style="text-align: right">
                            <input type="text" pInputText size="50" style="width:20%; margin-bottom: 10px;" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                class="inputCls" />
                        </div>
                <p-table #dt1 [columns]="cols" [value]="detailsList" [paginator]="true" [rows]="PageSize" [resizableColumns]="true" [reorderableColumns]="true"
                    [style]="{ 'white-space': 'nowrap'}" >
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                                {{ col.header }}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th class="editCls">Download</th>
                            <th class="editCls">Approve</th>
                            <th class="editCls">Reject</th>
                            <th class="editCls">Edit</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr let i=index;>
                            <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
                                <div>{{ rowData[col.field] }}</div>
                            </td>
                            <td style="text-align: center;">
                                <span>
                                    <i style="color:#1990b8;cursor: pointer;" title="Download Employee Profile" (click)="generatePDF(rowData.empID,i)" class="fa fa-file-pdf-o"
                                        aria-hidden="true"></i>
                                </span>
                            </td>
                            <td style="text-align: center;">
                                <span>
                                    <i style="color: green;cursor:pointer;" title="Approve" (click)="profileApproval(rowData.empID,'approve',i)" class="fa fa-check"></i>
                                </span>
                            </td>
                            <td style="text-align: center;cursor:pointer;">
                                <span>
                                    <i style="color: red" title="Reject" (click)="rejectConfirmation(rowData.empID,i)" class="fa fa-times"></i>
                                </span>
                            </td>


                            <td class="text-center">
                                    <a>
                                      <i class="editCls" [hidden]="rowData.notificationType != 'EPU'" title="Edit" class="fa fa-pencil-square-o fa-lg" 
                                      (click)="onProfile(rowData)"></i>
                                    </a>
                                  </td>
                                                </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <!--HRA dasboard-->
    <div class="row" *ngIf="isHRADisplay" [hidden]="hraList.length==0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    HR Advisor
                </div>
            </div>
            <div class="panel-body">
                    <div style="text-align: right">
                            <input type="text" pInputText size="50" style="width:20%; margin-bottom: 10px;" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                class="inputCls" />
                        </div>
                <p-table #dt1 [columns]="cols" [value]="hraList" [paginator]="true" [rows]="PageSize" [resizableColumns]="true" [reorderableColumns]="true"
                    [style]="{ 'white-space': 'nowrap'}" >
                   
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th width="150">Notification Type</th>
                            <th>Employee Code</th>
                            <th>Employee Name</th>
                            <th>Remarks</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-hrm>
                        <tr let i=index;>
                            <td>{{hrm.notificationType}}</td>
                            <td class="text-left">
                                <a (click)="openProfile(hrm)">{{hrm.empCode}}</a>
                            </td>
                            <td>{{hrm.empName}}</td>
                            <td>{{hrm.remarks}}</td>

                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>

<!-- </section> -->
<p-dialog header="Reject Reason" appendTo="body" [(visible)]="isRejectDialogDisplay" modal="modal" [width]="500" responsive="true"
    [maximizable]="true">
    <label *ngIf="isRejectReasonValid" style="color: red;">Please enter reject reason </label>
    <textarea type="text" placeholder="Enter Reject Reason" [(ngModel)]="rejectReason" maxlength="150" name="rejectreason" aria-required="true"
        style="width: 450px; height: 114px;"></textarea>
    <p-footer>
        <button type="submit" pButton *ngIf="!isVisible" pButton icon="fa fa-floppy-o icon-margin" (click)="RejectReasonSubmit()"
            label="Submit"></button>
        <button type="submit" pButton *ngIf="isVisible && detailsList.length > 0" pButton icon="fa fa-floppy-o icon-margin" (click)="rejectWithReasonSubmit()"
            label="Submit"></button>
        <button type="button" pButton icon="fa fa-eraser icon-margin" class="ui-button-secondary" (click)="isRejectDialogDisplay=false"
            label="Cancel"></button>
    </p-footer>
</p-dialog>