<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Assign Reporting Manager</h4>
    </div>
    <div class="panel-body">
        <form [formGroup]="myForm" novalidate>
            <div class="col-lg-12">
                <div class="form-group col-md-12 floating-main">
                    <label class="switchLabel">Delivery</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="switch">
                       <input type="checkbox" style="width: 70%" formControlName="ddlDelivery" id="toogle" (change)="onDeliveryChange($event)" tabindex="1">
                         <span class="slider round"></span>
                      </label>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group col-md-12 floating-main">
                    <label for="ddlemployee">Employee</label>
                    <div class="ui-fluid">
                        <p-dropdown [options]="associatesList" [style]="{'width':'70%'}" formControlName="ddlEmployee" [autoWidth]="false" 
                            (onChange)="getProjects($event)" [filter]="true"  tabindex="2"></p-dropdown>
                            <div *ngIf="formSubmitted &&  (!myForm.controls['ddlEmployee'].valid)">
                                <i style="color: red" class="fa fa-exclamation-circle"></i>
                                <span style="color: red">Employee is required.</span>
                            </div>
                    </div>
                </div>
                <div class="form-group col-md-12 floating-main">
                    <label class="chosenLabel">Current Reporting Manager:</label><span>{{employee.ReportingManagerName}}</span>
                </div>
                <div class="form-group col-md-12 floating-main">
                    <label for="ddlproject">Select Reporting Manager</label>
                    <div class="ui-fluid">
                        <p-autoComplete name="ddlReportingManager" [style]="{'width':'70%'}" [suggestions]="filteredRMManagersIds" formControlName="ddlReportingManager" 
                        (completeMethod)="AllLeadsAndManagers($event)" field="Name"  tabindex="4">
                        </p-autoComplete>
                    </div>
                </div>

                <div class="form-group col-md-12 floating-main">
                    <label class="chosenLabel">Current Lead:</label><span>{{employee.LeadName}}</span>
                </div>
                <div class="form-group col-md-12 floating-main">
                    <label for="ddlproject">Select Lead</label>
                    <div class="ui-fluid">
                        <p-autoComplete name="ddlLead" [suggestions]="filteredRMManagersIds" formControlName="ddlLead" [style]="{'width':'70%'}" 
                        (completeMethod)="AllLeadsAndManagers($event)" field="Name"  tabindex="6">
                        </p-autoComplete>
                    </div>
                </div>
                <div [hidden]="isDelivery" >
                <div *ngIf="formSubmitted && ((!myForm.controls['ddlLead'].valid) && (!myForm.controls['ddlReportingManager'].valid) && (!myForm.controls['ddlProgramManager'].valid))">
                    <i style="color: red" class="fa fa-exclamation-circle"></i>
                    <span style="color: red">Please enter atleast one manager</span>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" (click)="assignReportingManager()"><i class="fa fa-floppy-o icon-margin"></i>&nbsp;Assign</button>
                    <button id="clearButton" type="button" (click)="clearAll(isDelivery)" class="btn btn-default"><i class="fa fa-times"></i>&nbsp;Clear</button>
                </div>
                </div>
            </div>
            <div [hidden]="!isDelivery" class="col-lg-5">
                <div class="form-group col-md-12 floating-main">
                    <label for="ddlproject">Select Current Project</label>
                    <div class="ui-fluid">
                        <p-dropdown [options]="projectsList" [style]="{'width':'70%'}" formControlName="ddlProject" [autoWidth]="false" [disabled]="selectDisabled"
                            (onChange)="getManagerName($event)" [filter]="true"  tabindex="3"></p-dropdown>
                            <div *ngIf="isDelivery && !selectDisabled && formSubmitted && (!myForm.controls['ddlProject'].valid)">
                                <i style="color: red" class="fa fa-exclamation-circle"></i>
                                <span style="color: red">Current Project is required.</span>
                            </div>
                    </div>
                </div>
                <div class="form-group col-md-12 floating-main">
                    <label class="chosenLabel">Current Program Manager:</label><span>{{employee.ProgramManagerName}}</span>
                </div>
                <div class="form-group col-md-12 floating-main">
                    <label for="ddlproject">Select Program Manager</label>
                    <div class="ui-fluid">
                        <p-autoComplete name="ddlProgramManager" [suggestions]="filteredRMManagersIds" formControlName="ddlProgramManager" [style]="{'width':'70%'}"
                        (completeMethod)="AllLeadsAndManagers($event)" field="Name"  tabindex="5">
                        </p-autoComplete>
                    </div>
                   
                <div *ngIf="formSubmitted && ((!myForm.controls['ddlLead'].valid) && (!myForm.controls['ddlReportingManager'].valid) && (!myForm.controls['ddlProgramManager'].valid))">
                    <i style="color: red" class="fa fa-exclamation-circle"></i>
                    <span style="color: red">Please enter atleast one manager</span>
                </div>
                <div class="pull-right" style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary" (click)="assignReportingManager()"><i class="fa fa-floppy-o icon-margin"></i>&nbsp;Assign</button>&nbsp;&nbsp;
                    <button id="clearButton" type="button" (click)="clearAll(isDelivery)" class="btn btn-default"><i class="fa fa-times"></i>&nbsp;Clear</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
