.inputCls{
    margin-bottom: 10px;
  }
  
 
    .tables{
      padding-right: 265px;
      padding-left: 286px;
    }

    
    @media screen and (max-width: 1024px){
 bles{ 
      padding-right:0px !important;
      padding-left: 0px !important;
     
    }
      }
      
  
    /* Desktops and laptops ---------- */
    @media screen and (max-width: 1440px){
     
      .tables{
        padding-right: 234px;
        padding-left: 257px;
  
       }
  
    
    }
  