<div class="row" style="margin-left:-2px;">
  <!-- <div class="panel panel-default m-2 skill-details"> -->
  <div class="panel panel-default ">
    <div class="panel-heading">
      <h4>Delivery Head</h4>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
      <p-table
        #dt1
        [columns]="cols"
        [value]="ProjectsList"
        [paginator]="true"
        [rows]="PageSize"
        [rowsPerPageOptions]="PageDropDown"
        [resizableColumns]="true"
        [reorderableColumns]="true"
        [style]="{ 'white-space': 'nowrap', 'font-size': '15px' }"
        selectionMode="single"
      >
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" class="iconCls"></i>
            <input
              type="text"
              pInputText
              size="50"
              placeholder="Global Filter"
              (input)="dt1.filterGlobal($event.target.value, 'contains')"
              class="inputCls"
            />
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              class="text-center"
              [pSortableColumn]="col.field"
              pResizableColumn
              pReorderableColumn
            >
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th> 
            <!-- <th>Reject</th> -->
            <th class="editCls">Edit</th>
            <th class="editCls">View</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr let i="index;">
            <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
              <div>{{ rowData[col.field] }}</div>
            </td>
       
            <td class = "editBtn text-center" (click) = "EditProject(rowData)">
              <a >
                  <i  title="Edit" class="fa fa-pencil-square-o fa-lg editCls" ></i>
              </a>
          </td>
            <td class ="text-center" (click) = "ViewProject(rowData)"><a ><i class="fa fa-eye fa-lg "></i></a></td>
          </tr>
        </ng-template>
      </p-table>
      </div>
    </div>
  </div>
</div>

