

<p-dialog header="Choose Role" visible="true" [modal]="true" [responsive]="true" [closable]="false" [width]="650" [height]="350"
  [minWidth]="200" [minY]="100" [maximizable]="true">
  <app-choose-role></app-choose-role>
</p-dialog>
