
  .buttons{
      margin-right:426px;
      margin-bottom:10px;
  }
  .inputCls{
    margin-bottom:10px;
  }
  ::ng-deep .ui-table-thead tr th:nth-child(3) {
    width: 100px;
}
::ng-deep .ui-table-thead tr th:nth-child(1) {
  width: 250px;
}
  .clrbtn{

    margin-right:30px;
  }
  .center{
    margin-left:264px;
  }
  .tables{
    padding-right: 395px;
  }
  .table-2{
padding-right:238px;
  }

  @media screen and (min-width: 64.063em){
.ui-lg-3{
    width: 32%;
}
}


  
  @media screen and (max-width: 1024px){
    .center {
      margin: auto !important;         
  }
  .buttons{
      margin-right:35px !important;
      margin-top: -42px !important;
  }
  .tables{ 
    padding-right:0px !important;
    padding-left: 0px !important;
   
  }
    }
    

  /* Desktops and laptops ---------- */
  @media screen and (max-width: 1440px){
   
    .tables{
      padding-right: 38px;
     }

    .buttons {
      margin-right: 74px;
  }
  }
