<div class="panel-heading">
  <div class="panel-title">Associate KRAs</div>
</div>
<div class="text-right" *ngIf="loggedinUserRole == 'HRM'">
    <p-checkbox name="overideExisting" value="1" [(ngModel)]="overideExisting"></p-checkbox>
    <b>Override Existing</b>&nbsp;
    <button type="button" id="kraScaleAddBtn" (click)="generatePDFforAllAssociates()" class="btn btn-primary"
      title="Generate PDF for All Associates">
      <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Generate PDF for All Associates</button>
  </div>
<div class="panel-body">
  <div class="center">
    <div class="row">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-3">
          <div class="box">
            <label for="ddlDepartment">Financial Year :</label>
            <p-dropdown *ngIf="loggedinUserRole == 'Associate'" name="financialYearId" [style]="{'width':'70%'}"
              [options]="financialYearsList" filter="filter" [(ngModel)]="financialYearId"
              (onChange)="getAssociateKRAs(loggedInEmployeeId, ' ', financialYearId)" [autoWidth]="false">
            </p-dropdown>
            <p-dropdown *ngIf="loggedinUserRole != 'Associate'" name="finacialYear" [style]="{'width':'70%'}"
              [options]="financialYearsList" filter="filter" [(ngModel)]="financialYearId"
              (onChange)="getEmployeesByDepartmentIdAndProjectId(associateRoleMapping.DepartmentId, associateRoleMapping.ProjectId, financialYearId);dt1.reset()"
              [autoWidth]="false">
            </p-dropdown>
            <div *ngIf="formSubmitted && (financialYearId==null || financialYearId==undefined)">
              <i style="color: red" class="fa fa-exclamation-circle"></i>
              <span style="color: red">&nbsp; Financial Year is required.</span>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-3" *ngIf="showDepartmentsDropDown">
          <div class="box">
            <label for="ddlDepartment">Department:</label>
            <p-dropdown [options]="departmentList" name="ddlDepartment" [autoWidth]="false" [filter]="true"
              [(ngModel)]="associateRoleMapping.DepartmentId" [style]="{'width':'70%'}"
              (onChange)="getEmployeesByDepartmentId(associateRoleMapping.DepartmentId, financialYearId);dt1.reset()">
            </p-dropdown>
            <div
              *ngIf="formSubmitted && (associateRoleMapping.DepartmentId==null || associateRoleMapping.DepartmentId==undefined)">
              <i style="color: red" class="fa fa-exclamation-circle"></i>
              <span style="color: red">&nbsp; Department is required.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-3" *ngIf="showProjectsDropDown && !isNonDelivery">
          <div class="box">
            <label for="ddlproject">Project :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p-dropdown [options]="projectsList" [style]="{'width':'70%'}" [disabled]="isNonDelivery" name="ddlProject"
              [autoWidth]="false" [filter]="true" [(ngModel)]="associateRoleMapping.ProjectId"
              (onChange)="getEmployeesByDepartmentIdAndProjectId(associateRoleMapping.DepartmentId, associateRoleMapping.ProjectId, financialYearId);dt1.reset()">
            </p-dropdown>
            <div
              *ngIf="(formSubmitted && !isNonDelivery) && (associateRoleMapping.ProjectId==null || associateRoleMapping.ProjectId==undefined)">
              <i style="color: red" class="fa fa-exclamation-circle"></i>
              <span style="color: red">&nbsp; Project is required.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
            <section class="pull-right buttons">
              <button *ngIf="loggedinUserRole != 'Associate'" type="button" class="btn btn-default"
              style="cursor:pointer;" (click)="Clear();dt1.reset()">
              <i class="fa fa-eraser"></i>&nbsp;Clear</button>
            </section>
          </div>
      </div>
 
    </div>

    <!-- When login with HRM use this Grid   -->
    <div class="tables">
      <div class="panel-body" *ngIf="loggedinUserRole != 'Associate'">
          <div style="text-align: right">
              <input type="text" pInputText size="50" style="width: 20%;" placeholder="Search"
              class="inputCls" (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        <p-table #dt1 [columns]="cols" [value]="associatesList" [paginator]="true" [rows]="PageSize"
          [resizableColumns]="true" [reorderableColumns]="true" [style]="{ 'white-space': 'nowrap'}" dataKey="Id" [(selection)]="selectedEmployees">
         
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn
                pReorderableColumn>
                {{ col.header }}
              </th>
              <!-- <th class="select" *ngIf="loggedinUserRole == 'HRM'">
                Generate PDF
              </th>
              <th class="select" *ngIf="loggedinUserRole == 'HRM'">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox> &nbsp; Generate PDF 
              </th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <ng-container *ngFor="let col of columns; let i = index" [pSelectableRow]="rowData[col]">
                <td *ngIf="i == 0 || i == 1">
                  {{ rowData[col.field] }}
                </td>
                <td *ngIf="i > 1 && rowData[col.field]" class="text-center">
                  <a style="cursor:pointer;">
                    <i title="View KRA" class="fa fa-eye fa-lg editCls"
                      (click)="getAssociateKRAs(rowData.Id, rowData.AssociateName, financialYearId)"></i>
                  </a>
                </td>
                <td *ngIf="i > 1 && !rowData[col.field]" class="text-center">
                  <a style="cursor:not-allowed; opacity: 0.5;">
                    <i title="View KRA" class="fa fa-eye fa-lg editCls"></i>
                  </a>
                </td>
                <!-- <td *ngIf="i > 0 && !rowData[col.field] && loggedinUserRole == 'HRM'">
                  <p-tableCheckbox disabled="true" [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngIf="i > 0 && rowData[col.field] && loggedinUserRole == 'HRM'">
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td> -->
              </ng-container>
            </tr>
          </ng-template>
        
        </p-table>
        <div *ngIf="!associatesList || associatesList.length == 0" style="text-align: left">
            No records found
          </div>
      </div>
    </div>

    <!-- When login with Associate use this Grid   -->
    <div class="table-2">
      <div class="panel-body" *ngIf="loggedinUserRole == 'Associate'">
        <table class="table table-bordered table-striped">
          <thead class="d-center">
            <tr style="background:#F1F2F4">
              <th>KRA Aspect</th>
              <th>Metric</th>
              <th>Target</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let col of aspectsList; let i = index">
              <td *ngIf="rowspansList.indexOf(i) > -1" [attr.rowspan]="col.AspectCount"
                style="vertical-align:middle; width: 15%"> {{ col.KRAAspectName }}</td>
              <td style="width: 70%">{{ col.KRAAspectMetric }}</td>
              <td style="width: 15%">{{ col.KRAAspectTarget }}</td>
            </tr>
            <tr *ngIf="!aspectsList || aspectsList.length == 0">
              <td colspan="3" style="text-align: left"> No records found </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<p-dialog appendTo="body" header="{{ KraHeading }}" height="400" width="1000" [(visible)]="associateKraView"
  responsive="true" modal=true showHeader=true closeOnEscape=true closable=true>
  <div style="height:400px;">
    <table class="table table-bordered table-striped">
      <thead class="d-center">
        <tr style="background:#F1F2F4">
          <th>KRA Aspect</th>
          <th>Metric</th>
          <th>Target</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let col of aspectsList; let i = index">
          <td *ngIf="rowspansList.indexOf(i) > -1" [attr.rowspan]="col.AspectCount" style="vertical-align:middle; width: 15%"> {{ col.KRAAspectName }}</td> 
          <td style="width: 70%">{{ col.KRAAspectMetric }}</td>
          <td style="width: 15%">{{ col.KRAAspectTarget }}</td>
        </tr>
        <tr *ngIf="!aspectsList || aspectsList.length == 0">
          <td colspan="3" style="text-align: left"> No records found </td>
        </tr>
      </tbody>
    </table>
  </div>
</p-dialog>

<p-dialog appendTo="body" height="50" width="350" [(visible)]="pdfStatus" modal=true [closable]="false" [closeOnEscape]="false">
  <p-header> Please wait while generating PDFs for all Associates... </p-header>
  <p-progressBar mode="indeterminate" [style]="{'height': '6px' , 'width' : '100%' }"></p-progressBar>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
