<div class="panel panel-default">
    <div class="panel-body">
        <div class="tables">
            <div style="text-align: right">
                <input type="text" pInputText size="50" placeholder="Search" style="width: 30%" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                    class="inputCls">
            </div>
            <p-table #dt1 [columns]="cols" [value]="projectTypeData" [paginator]="true" [rows]="PageSize" [resizableColumns]="true" [reorderableColumns]="true"
                [(selection)]="selectedProjectTypeData">

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th class="editCls">Edit</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
                            {{rowData[col.field]}}
                        </td>
                        <td style="text-align: center">
                            <a>
                                <i title="Edit" class="fa fa-pencil-square-o fa-lg editCls" (click)="SetEditObj(rowData)"></i>
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
        </div>
    </div>