<div class="panel-heading">
    <div class="panel-heading">
        <div class="panel-title">KRA Definitions ({{kraTitle}} - {{financialYearName}})
            <li id="back" (click)="onBackButtonClick()">
                <i class="fa fa-arrow-left" title="Back " aria-hidden="true">&nbsp;Back</i>
            </li>
        </div>

    </div>
</div>
<div class="panel-body">
    <div class="center">
        <div class="row" *ngIf="showAddSection">
            <p-fieldset legend="Add KRA Definition" [toggleable]="true">
                <form [formGroup]="kraDefinitionForm">
                    <div class="row">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <div class="box">
                                    <label for="aspect">KRA Aspect:</label> <span style="color: red">*</span>
                                    <div class="ui-fluid">
                                        <p-dropdown id="ddlAspects" [disabled]="disableAspect" [style]="{'width':'70%'}" formControlName="aspect" [options]="kraAspectsList"
                                            [autoWidth]="false" [(ngModel)]="kraMericAndTarget.KRAAspectId" filter="filter">
                                        </p-dropdown>
                                    </div>
                                    <div *ngIf="(!kraDefinitionForm.controls['aspect'].valid&&kraDefinitionForm.controls['aspect'].dirty)||(kraFormSubmitted&&!kraDefinitionForm.controls['aspect'].valid)">
                                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                                        <span style="color: red">KRA Aspect is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <div class="box">
                                    <label for="metric">Metric: </label> <span style="color: red">*</span>
                                    <div class="ui-fluid">
                                        <textarea rows="2" cols="100"  class="form-control" formControlName="metric" id="metric" [(ngModel)]="kraMericAndTarget.Metric"
                                            pInputTextarea autoResize="autoResize"></textarea>
                                    </div>
                                    <div *ngIf="(!kraDefinitionForm.controls['metric'].valid && kraDefinitionForm.controls['metric'].dirty)||(kraFormSubmitted && !kraDefinitionForm.controls['metric'].valid)">
                                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                                        <span style="color: red">Metric is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-lg-4">
                                    <div class="box">
                                        <label for="measurement">Operator:</label> <span style="color: red">*</span>
                                        <div class="ui-fluid">
                                            <p-dropdown id="measurement" [style]="{'width':'70%'}" formControlName="measurement" [options]="measurementList" [autoWidth]="false"
                                                [(ngModel)]="kraMericAndTarget.KRAOperatorId" filter="filter">
                                            </p-dropdown>
                                        </div>
                                        <div *ngIf="(!kraDefinitionForm.controls['measurement'].valid&&kraDefinitionForm.controls['measurement'].dirty)||(kraFormSubmitted&&!kraDefinitionForm.controls['measurement'].valid)">
                                            <i style="color: red" class="fa fa-exclamation-circle"></i>
                                            <span style="color: red">Operator is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-4">
                                    <div class="box">
                                        <label for="Scale">Measurement Type:</label> <span style="color: red">*</span>
                                        <div class="ui-fluid">
                                            <p-dropdown id="measureType" [style]="{'width':'70%'}" formControlName="measureType" [options]="measureTypeList" [autoWidth]="false"
                                                [(ngModel)]="kraMericAndTarget.KRAMeasurementTypeId" (onChange)="ShowScaleControls()"
                                                filter="filter">
                                            </p-dropdown>
                                        </div>
                                        <div *ngIf="(!kraDefinitionForm.controls['measureType'].valid&&kraDefinitionForm.controls['measureType'].dirty)||(kraFormSubmitted&&!kraDefinitionForm.controls['measureType'].valid)">
                                            <i style="color: red" class="fa fa-exclamation-circle"></i>
                                            <span style="color: red">Measurement Type is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-4">
                                    <div class="box" *ngIf="isscaleType">
                                        <label for="Scale">Scale:
                                            <a style="margin-top:2px;cursor:pointer;" class="pull-right" (click)="ShowScaleDescription(kraMericAndTarget.KRAScaleMasterId)">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </a>
                                        </label>
                                        <div class="ui-fluid">
                                            <p-dropdown id="scalevalues" formControlName="scalevalues" [style]="{'width':'70%'}" [options]="scalevaluesList" [autoWidth]="false"
                                                [(ngModel)]="kraMericAndTarget.KRAScaleMasterId" (onChange)="getScaleDesriptionByScaleMasterId()"
                                                filter="filter">
                                            </p-dropdown>
                                        </div>
                                        <div *ngIf="(kraFormSubmitted&&isscaleType&&kraMericAndTarget.KRAScaleMasterId==null)">
                                            <i style="color: red" class="fa fa-exclamation-circle"></i>
                                            <span style="color: red">Scale is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-lg-4">
                                    <div class="box">
                                        <label for="Value">Target Value:</label> <span style="color: red">*</span>
                                        <div class="ui-fluid" *ngIf="!IsDateMeasurementType">
                                            <input type="text" pInputText id="targetValue" style="width:70%;" formControlName="targetValue" [(ngModel)]="kraMericAndTarget.KRATargetValue"
                                                (keypress)="onlyNumbers($event)" (paste)="$event.preventDefault()" maxlength="6"  placeholder="Numeric Values"
                                                (change)="validateTargetValue(kraMericAndTarget.KRAMeasurementTypeId,kraMericAndTarget.KRAScaleMasterId,kraMericAndTarget.KRATargetValue,null)"
                                            />
                                        </div>
                                        <div *ngIf="(kraFormSubmitted && !IsDateMeasurementType && kraMericAndTarget.KRATargetValue==null)">
                                            <i style="color: red" class="fa fa-exclamation-circle"></i>
                                            <span style="color: red">Target Value is required.</span>
                                        </div>
                                        <div *ngIf="kraMericAndTarget.KRATargetValue!=null && !IsDateMeasurementType && isValidTargetvalue">
                                            <i style="color: red" class="fa fa-exclamation-circle"></i>
                                            <span style="color: red">Invalid Target Value</span>
                                        </div>

                                        <div class="ui-fluid" *ngIf="IsDateMeasurementType">
                                            <p-calendar formControlName="KRATargetValueAsDate" [style]="{'width':'70%'}" [yearRange]="yearsRange" showIcon="true" monthNavigator="true"
                                                yearNavigator="true" [(ngModel)]="kraMericAndTarget.KRATargetValueAsDate" dateFormat="yy-mm-dd"
                                                [readonlyInput]="true" (onSelect)="validateTargetValue(kraMericAndTarget.KRAMeasurementTypeId,kraMericAndTarget.KRAScaleMasterId,null,kraMericAndTarget.KRATargetValueAsDate)"></p-calendar>
                                        </div>
                                        <div *ngIf="(kraFormSubmitted && IsDateMeasurementType &&kraMericAndTarget.KRATargetValueAsDate==null)">
                                            <i style="color: red" class="fa fa-exclamation-circle"></i>
                                            <span style="color: red">Target Value is required.</span>
                                        </div>
                                        <div *ngIf="kraMericAndTarget.KRATargetValueAsDate!=null && IsDateMeasurementType && isValidTargetvalue">
                                            <i style="color: red" class="fa fa-exclamation-circle"></i>
                                            <span style="color: red">Invalid Target Value</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-4">
                                    <div class="box">
                                        <label for="Periodicity">Target Period:</label> <span style="color: red">*</span>
                                        <div class="ui-fluid">
                                            <p-dropdown id="periodicity" [style]="{'width':'70%'}" formControlName="periodicity" [options]="periodicityList" [autoWidth]="false"
                                                [(ngModel)]="kraMericAndTarget.KRATargetPeriodId" filter="filter">
                                            </p-dropdown>
                                        </div>
                                        <div *ngIf="(!kraDefinitionForm.controls['periodicity'].valid&&kraDefinitionForm.controls['periodicity'].dirty)||(kraFormSubmitted&&!kraDefinitionForm.controls['periodicity'].valid)">
                                            <i style="color: red" class="fa fa-exclamation-circle"></i>
                                            <span style="color: red">Target Period is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-4">
                                    <div class="box">
                                        <label for="Text">Remarks:</label>
                                        <div class="ui-fluid">
                                            <input pInputText id="targettext" style="width:70%;" formControlName="targettext" [(ngModel)]="kraMericAndTarget.KRATargetText"
                                                maxlength="50" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <section class="pull-right buttons">
                            <button type="button" class="btn btn-primary" *ngIf="buttonType == 'add'" (click)="save()" title="Save">
                                <i class="fa fa-floppy-o"></i>&nbsp;Save</button>&nbsp;
                            <button type="button" class="btn btn-primary" *ngIf="buttonType == 'edit'" (click)="update()" title="Update">
                                <i class="fa fa-floppy-o"></i>&nbsp;Update</button>&nbsp;
                            <button type="button" class="btn btn-default" (click)="cancel()">
                                <i class="fa fa-eraser"></i>&nbsp;Clear</button>
                        </section>
                    </div>
                </form>
            </p-fieldset>
        </div>
        <br>
        <div class="tables">
            <p-table #dt1 [columns]="cols" [value]="kraDefinitionList" dataKey="KRAAspectName" [style]="{'margin-left':'0%', 'margin-right':'8%'}"
                selectionMode="single">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3em"></th>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                        <th class="delCls" *ngIf="type == 'add'">Delete</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                    <tr>
                        <td>
                            <a [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                        </td>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td class="delCls" *ngIf="type == 'add'">
                            <a style="color:red; cursor:pointer;" (click)="deleteKraAspect(rowData)">
                                <i class="fa fa-trash fa-lg" title="Delete KRA Aspect"></i>
                            </a>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion"  let-kra let-columns="columns">
                    <br>
                    <table class="table table-bordered">
                        <thead class="d-center">
                            <tr>
                                <th  class="innertable1" style="width: 650px;">Metric</th>
                                <th class="innertable2" style="width: 250px;">Target</th>
                                <th colspan="2" class="innertable2" style="width: 100px;"  *ngIf="type == 'add'">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of kra.lstMetricAndTarget; let i = index;">
                                <td>{{m.Metric}}</td>
                                <td *ngIf="m.KRAMeasurementTypeId == '2'">{{m.Operator}} {{m.KRATargetValue}}% {{m.KRATargetText}} ({{m.KRATargetPeriod}})</td>
                                
                                <td *ngIf="m.KRAMeasurementTypeId != '2'">{{m.Operator}} {{m.KRATargetValue}} {{m.KRATargetText}} ({{m.KRATargetPeriod}})</td>
                                <td *ngIf="type == 'add'">
                                    <a style=" cursor:pointer;" (click)="editKraMetric(kra,m,i);">
                                        <i class="fa fa-pencil-square-o fa-lg"  title="Edit KRA Metric"></i>
                                    </a>
                                </td>
                                <td class="del" *ngIf="type == 'add'">
                                    <a style="color:red; cursor:pointer;" (click)="deleteKraMetric(kra,m,i)">
                                        <i class="fa fa-trash fa-lg"  title="Delete KRA Metric"></i>
                                   </a>
                                </td>
                            </tr>
                        </tbody>     
                    </table>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-confirmDialog appendTo="body" key="kraAspect" width="500"></p-confirmDialog>
    <p-confirmDialog appendTo="body" key="kraMetric" width="500"></p-confirmDialog>
    <p-dialog appendTo="body" header="Scale Description" height="200" width="500" [(visible)]="showScaleDescriptionDialog" closeOnEscape="true"
        modal="true">
        <div style="height:150px;width:490px">
            <div class="col-lg-12">
                <div class="form-group col-md-12 floating-main">
                    <div class="ui-fluid">
                        {{kraMericAndTarget.KRAScaleDescription}}
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>