<div class="panel-heading">
  <div class="panel-title">Key Result Area - Contributions</div>
</div>
<div class="panel-body">
  <p-tabView (onChange)="setSelectedTab($event)">
    <p-tabPanel *ngFor="let tab of tabs" header="{{ tab.header }}"> </p-tabPanel>
    <div class="table">
      <table class="table table-bordered table-striped">
        <thead class="d-center">
          <tr style="background:#F1F2F4">
            <th>KRA Aspect</th>
            <th>Metric</th>
            <th>Associate Contributions</th>
            <th *ngIf="(loggedinUserRole == 'Associate' && kraStatus == 'Approved') || (loggedinUserRole == 'Program Manager')">Manager Feedback</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let col of aspectsList; let i = index">
            <td *ngIf="rowspansList.indexOf(i) > -1" [attr.rowspan]="col.AspectCount"
              style="vertical-align:middle;"> {{ col.KRAAspectName }}</td>
            <td>{{ col.KRAAspectMetric }}
              <br><br> <span style="color:#DD4343; font-weight:bold">Target: {{ col.KRAAspectTarget }} </span>
            </td>
            <!-- Associate Contributions -->
            <td>{{ col.KRAAspectMetric }}<br><br> 
              <span style="color:#B6A437; font-weight:bold">Rating: 40% </span>
              <a *ngIf="(loggedinUserRole == 'Associate' && kraStatus == 'Drafted')" 
                style="cursor: pointer" class="pull-right" title="Associate Contributions" (click)="displayAssociateContributions(col)">
                <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
              </a>
              <a *ngIf="(loggedinUserRole == 'Associate' && kraStatus != 'Drafted') || (loggedinUserRole == 'Program Manager')" 
                style="cursor: pointer" class="pull-right" title="Associate Contributions" (click)="displayAssociateContributions(col)">
                  <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
              </a>
            </td>
            <!-- Manager Feedback -->
            <td *ngIf="(loggedinUserRole == 'Associate' && kraStatus == 'Approved') || (loggedinUserRole == 'Program Manager')">{{ col.KRAAspectMetric }}<br><br> 
              <span style="color:#37B63F; font-weight:bold">Rating: 30% </span>
              <a *ngIf="loggedinUserRole == 'Program Manager' && kraStatus != 'Approved'" 
                style="cursor: pointer" class="pull-right" title="Manager Feedback" (click)="displayManagerFeedback(col)">
                <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
              </a>
              <a *ngIf="(loggedinUserRole == 'Program Manager' || loggedinUserRole == 'Associate') && kraStatus == 'Approved'"  style="cursor: pointer" 
                class="pull-right" title="Manager Feedback" (click)="displayManagerFeedback(col)">
                  <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr *ngIf="!aspectsList || aspectsList.length == 0">
            <td colspan="4" style="text-align: left"> No records found </td>
          </tr>
        </tbody>
      </table>
    </div>
  </p-tabView>
</div>

<!-- ASSOCIATE VIEW -->
<p-dialog appendTo="body" header="{{titleForComments}}" [(visible)]="associatesContributionsDisplay" [responsive]="true"
  showEffect="fade" [modal]="true" width="800">
  <div style="height:300px;">

    <!-- ASSOCIATE VIEW - BEFORE SUBMITTING KRA CONTRIBUTIONS -->
    <div *ngIf="kraStatus == 'Drafted'">
      <label>Associate Contributions:</label>
      <p-editor name="associateContributions" id="metric" [style]="{'height':'150px'}" [(ngModel)]="associateContributions" contenteditable="true">
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
            <button class="ql-list" value="ordered" aria-label="Ordered List"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List"></button>
          </span>
        </p-header>
      </p-editor>
      <br>
      <label>Associate Rating: &nbsp; &nbsp; {{associateRating}}</label>
    </div>

    <!-- ASSOCIATE VIEW - AFTER SUBMITTING KRA CONTRIBUTIONS -->
    <div *ngIf="kraStatus != 'Drafted'">
      <br>
      <label>Associate Contributions:</label>
      <div> {{associateContributions}}</div>
      <!-- <div [innerHTML]="transformSanitizer(associateContributions)"></div> -->
      <br>
      <label>Associate Rating: &nbsp; &nbsp; {{associateRating}}</label>
    </div>

  <div class="col-lg-12">
    <section class="pull-right buttons">
      <button *ngIf="kraStatus == 'Drafted'" type="button" class="btn btn-primary" (click)="updateAssociateContributions()" title="Save">
        <i class="fa fa-floppy-o"></i>&nbsp;Save</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="CancelComments()" title="Cancel">
        <i class="fa fa-eraser"></i>&nbsp;Cancel</button>
    </section>
  </div>
</div>
</p-dialog>

<!-- MAnAGER VIEW -->
<p-dialog appendTo="body" header="{{titleForComments}}" [(visible)]="managerFeedbackDisplay" [responsive]="true"
  showEffect="fade" [modal]="true" width="800">
  <div style="height:300px;">

    <!-- MANAGER VIEW BEFORE APPROVAL -->
    <div *ngIf="kraStatus == 'Submitted'">
      <br>
      <label>Manager Feedback:</label>
      <p-editor name="managerFeedback" id="metric" [style]="{'height':'120px'}" [(ngModel)]="managerFeedback" contenteditable="true">
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
            <button class="ql-list" value="ordered" aria-label="Ordered List"></button>
            <button class="ql-list" value="bullet" aria-label="Unordered List"></button>
          </span>
        </p-header>
      </p-editor>
      <br>
      <label>Manager Rating: &nbsp; &nbsp; {{managerRating}}</label>
    </div>

  <!-- MANAGER VIEW AFTER MANAGER APPROVAL -->
    <div *ngIf="kraStatus == 'Approved'">
      <label>Manager Feedback:</label>
      <div> {{managerFeedback}}</div>
      <!-- <div [innerHTML]="transformSanitizer(managerFeedback)"></div> -->
      <br>
      <label>Manager Rating: &nbsp; &nbsp; {{managerRating}}</label>
    </div>

  <div class="col-lg-12">
    <section class="pull-right buttons">
      <button *ngIf="kraStatus == 'Submitted'" type="button" class="btn btn-primary" (click)="updateManagerFeedback()" title="Save">
        <i class="fa fa-floppy-o"></i>&nbsp;Save</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="CancelComments()" title="Cancel">
        <i class="fa fa-eraser"></i>&nbsp;Cancel</button>
    </section>
  </div>
</div>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>