﻿<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Aspect Master</div>
  </div>
</div>
<div class="panel-body">
  <div class="center">
    <div class="row">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-3">
          <div class="box">
            <label id="label">Aspect Name:
              <span style="color: red">*</span>
            </label>&nbsp;
            <input type="text" (keypress)="omit_special_char($event)" maxlength="70" size="35" (change)="validateAspectName(aspectData)"
              [(ngModel)]="aspectData.KRAAspectName" pInputText>
            <div *ngIf="aspectFormSubmitted && aspectData.KRAAspectName==''">
              <i style="color: red" class="fa fa-exclamation-circle"></i>
              <span style="color: red">Aspect Name is required.</span>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-3">
          <div class="box">
              <div class="buttons">
            <button type="submit" class="btn btn-primary"  style="cursor:pointer;" (click)="saveAspect()">
               <i class="fa fa-plus"></i>&nbsp;{{saveButton}}</button>&nbsp;
            <button type="button" class="btn btn-default" style="cursor:pointer;" (click)="clear()"><i class="fa fa-eraser"></i>&nbsp;Clear</button>
          </div>
          </div>
        </div>
      </div>
    </div>
 <br>
  <div class="content-fluid">
    <div class="tables">
            <div style="text-align: right">
            
              <input type="text" pInputText size="50" style="width:20%;"  placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                class="inputCls" />
            </div>
          
      <p-table #dt1 [columns]="cols" [value]="kraAspectsList" [paginator]="true" dataKey="vin" [rows]="PageSize" 
        [resizableColumns]="true" [reorderableColumns]="true" [style]="{ 'white-space': 'nowrap', 'margin-right':'1%'}"> 
       
       
        <ng-template pTemplate="header" let-columns>
          <tr>
            <ng-container *ngFor="let col of columns; let i = index" class="text-center" [pSortableColumn]="col.field" pResizableColumn>
              <th *ngIf="i == 0">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </ng-container>
            <th class="editCls" width="100px">Edit</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
              <ng-container *ngFor="let col of columns; let i = index" [pSelectableRow]="rowData[col]">
                  <td *ngIf="i == 0">
                      {{ rowData[col.field] }}
                  </td>
                  <td *ngIf="i == 1 && rowData[col.field] == 'false' " class="text-center">
                      <a style="cursor:pointer;" >
                          <i title="Edit" class="fa fa-pencil-square-o fa-lg" (click)="editAspect(rowData)"></i>
                      </a>
                  </td>
                  <td *ngIf="i == 1 && rowData[col.field] != 'false' " class="text-center">
                      <a style="cursor:not-allowed; opacity: 0.5;" >
                          <i class="fa fa-pencil-square-o fa-lg" ></i>
                      </a>
                  </td>
              </ng-container>
          </tr>
      </ng-template>
      <ng-template *ngIf="!kraAspectsList" pTemplate="summary">
        <div style="text-align: left">
          No records found
        </div>
      </ng-template>
      </p-table>
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
    </div>
  </div>
</div>
</div>