
.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.main-header{
  background-color: #367fa9 !important;
}
.layoutCls{
  height : 690px;
}
.user-name{
  font-size: 12px;
}
.logo-lg{
  color:#ffff;
  background-image:url("../../../../assets/images/logo_45x45.png")no-repeat ;
 
  width:50px;
  height:50px;
}
.toolbar-icon {
    padding: 0 14px;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .logout-button {
  justify-content: center;
  /* padding-left: 50px; */
    cursor: pointer;
  letter-spacing: 1px;
 display: block;
  width: 100%;
  border: none;
   padding: 14px 28px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  }
  
.sidebar-menu {
  height:85%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.sidenav {
  /* position: fixed; */
  /* width: 15rem; */
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  padding-bottom: 3.75rem;
  /* background-color: #2c2f34; */
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1040;
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  list-style-type: none;
  padding: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.sn-bg-4 {
  background-image:url("../../../../assets/images/hrm.jpg") !important;
  
}


.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  /* overflow-y: hidden; */
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 10px;
  font-size:  12px;
}
.submenu.expanded {
  transform: scaleY(1);
}
::ng-deep .mat-list-base .mat-list-item {
  color:black;
}

img{
  border-radius: 50%;
  height : 40px;
  width: 40px;
  
}


