   
<!--<div class="content-wrapper">-->
    <!-- <div class="panel-body">

        <p-table [value]="clientBillingRoleList" [responsive]="true" [rows]="PageSize" [rowsPerPageOptions]="PageDropDown" [paginator]="true" [style]="{'white-space': 'nowrap','font-size':'12px'}">
           <ng-template pTemplate="caption">
                <div style="text-align: right">        
                    <i class="fa fa-search" class = "iconCls"></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt1.filterGlobal($event.target.value, 'contains')" class = "inputCls">
                </div>
            </ng-template>
        
        
            <ng-template pTemplate="header" let-columns >     
            <tr>        
                <th *ngFor="let col of columns" class = "text-center" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th class = "editCls">Edit</th>
            </tr>
        </ng-template>
        
        
        
            <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr >
                <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
                    <div (click) = tosetEditObj(rowData)>
                            {{rowData[col.field]}}
                    </div>
                </td>  
                   <td>
                      <a style="cursor:pointer;">
                          <i class = "editCls" title="Edit" class="fa fa-pencil-square-o fa-lg" (click)="setEditObj(rowData)"></i>
                      </a>
                  </td>
            </tr>
        </ng-template>
                        </p-table>
                
        </div> -->
     