<div class="panel panel-default">

    <div class="panel-heading">
        <div class="panel-title">Domain Report</div>
    </div>
</div>

<div class="panel-body">
    <div class="row">
            <div class="p-grid p-justify-around">
            <div class="p-col-7">
                <div class="box">
                    <i class="fa fa-bar-chart fa-lg" style="color: #4b8eb9;cursor: pointer;" (click)="onBarChartClick()"></i>
                    <i class="fa fa-pie-chart fa-lg" style="color: #4b8eb9;cursor: pointer;" (click)="onPieChartClick()"></i>
                    <p-chart #domainChart [type]="chartType" [data]="domainChartData" [options]="options" width="800" height="300" (onDataSelect)="selectedbarData($event, data)"></p-chart>
                </div>
            </div>
            <div class="p-col-5">
                <div class="box reportDataTable">
                    <p-table #tt [value]="lstDomainData" [columns]="cols" [style]="{'white-space':'normal'}" >
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" class="text-center" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div *ngIf="lstDomainData.length==0" style="text-align: left">
                                No Records Found
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
      <div class= "tables">
    <div class="row">
        <div class="col-lg-12">
            <span *ngIf="this.domainName.length>0">Domain Name :
                <strong> {{this.domainName}} </strong>
            </span>

          
                <div style="text-align: right">
                    <input type="text"  pInputText size="50" style="width: 20%" placeholder="Search" style="width: -18%"  (input)="dt.filterGlobal($event.target.value, 'contains')"
                        class="inputCls" />
    </div>
 
            <p-table #dt [columns]="cols2" [value]="lstEmployees" [paginator]="true" [rows]="PageSize" [rowsPerPageOptions]="PageDropDown"
            [style]="{ 'white-space': 'nowrap'}">   
            <!-- [style]="{'white-space': 'normal'}"> -->
      

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" [pSelectableRow]="rowData[col]">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>