<div class="panel panel-default family-details">
        <div class="panel-heading">
            <div class="panel-title">
                Family Details
            </div>
        </div>
        <div class="panel-body">
            <form  ngNativeValidate #relationsForm="ngForm" ondragstart="return false;" ondrop="return false;"
                (ngSubmit)="onNewRelation(rship)">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <td class="text-bold">S.No</td>
                                <td class=" text-bold">Relationship
                                    <span class="mandatory">*</span>
                                </td>
                                <td class="text-bold">Name
                                    <span class="mandatory">*</span>
                                </td>
                                <td class="text-bold">Date of Birth
                                    <span class="mandatory">*</span>
                                </td>
                                <td class=" text-bold">Occupation
                                    <span class="mandatory">*</span>
                                </td>
                                <td colspan="2" class="text-middle text-center text-bold">Action</td>
                            </tr>
                        </thead>
                        <tbody *ngFor="let rship of _Associate.relationsInfo ; let i = index; let lst = last; let fst=first">
                            <tr>
                                <td>
                                    {{i+1}}
                                </td>
                                <td>
                                    <select class="form-control" name="ddlRelation{{i}}" [(ngModel)]="rship.relationship" (change)="onRelationChange($event,i )"
                                        class="form-control" required>
                                        <option value=""></option>
                                        <option *ngFor="let r of ddlRelations" value={{r.valueID}}>{{r.valueName}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="name" [value]="rship.name" (change)="rship.name = $event.target.value" class="form-control" pattern="[a-zA-Z0-9\s]+"
                                        (keypress)="onlychar($event)" required>
                                </td>
                                <td>
                                    <div class="ui-fluid">
                                        <p-calendar name="birthdate{{i}}" [(ngModel)]="rship.birthDate" dataType="string" showIcon="true" [maxDate]="birthDate" monthNavigator="true"
                                            yearNavigator="true" yearRange="1900:+2050" readonlyInput="true" dateFormat="yy-mm-dd"
                                            required>
                                        </p-calendar>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" name="occupation" [value]="rship.occupation" (change)="rship.occupation = $event.target.value" pattern="[a-zA-Z\s]+"
                                        (keypress)="onlychar($event)" class="form-control" required>
                                </td>
                                <td class="text-center">
                                    <button type="submit" [hidden]="!lst">
                                        <i class="fa fa-plus"  ></i>
                                    </button>
                                </td>
                                <td class="text-center">
                                        <button (click)="onDelete(rship)" [hidden]="fst&&lst" style="color: red" type="button">
                                            <i class="fa fa-trash" title="delete"></i>
                                        </button> &nbsp;
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default " ondragstart="return false;" ondrop="return false;">
        <!-- Header -->
        <div class="panel-heading">
            <div class="panel-title">
                Emergency Contact Details
            </div>
        </div>
    
        <div class="panel-body">
            <div class="form-group col-md-12">
                <input type="checkbox" formControlName="firstPrimary" id="toogle" [(checked)]="_Associate.contactDetailsOne.isPrimary" (change)="updateSelection('firstPrimary')"
                    tabindex="1">
                <i></i>
                <span class="form-label">Is Primary Contact</span>
            </div>
            <form class="form-horizontal">
                <div class="row">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>First Contact Name
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text" style="width:70%;" name="firstContactName" [(ngModel)]="_Associate.contactDetailsOne.contactName" (keypress)="onlychar($event)"
                                        class="form-control" required>
                                </div>
                                <div *ngIf="formSubmitted && !_Associate.contactDetailsOne.contactName && _Associate.contactDetailsOne.isPrimary">
                                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                                        <span style="color: red">First contact name is required.</span>
                                    </div>
                                <!-- <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsOne.contactName && _Associate.contactDetailsOne.isPrimary">First contact name is required.</em> -->
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Relation
                                    <span style="color: red">*</span>
                                </label>
                                <div class="dropdowns">
                                    <select class="form-control" name="ddlRelation" [ngModel]="_Associate.contactDetailsOne.relationship || ''"
                                        (ngModelChange)="_Associate.contactDetailsOne.relationship = $event" required>
                                        <option value=""></option>
                                        <option *ngFor="let r of ddlRelations" value={{r.valueID}}>{{r.valueName}}</option>
                                    </select>
                                </div>
                                <div *ngIf="formSubmitted && !_Associate.contactDetailsOne.relationship && _Associate.contactDetailsOne.isPrimary">
                                        <i style="color: red" class="fa fa-exclamation-circle"></i>
                                        <span style="color: red">Relationship is required.</span>
                                    </div>
                                <!-- <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsOne.relationship && _Associate.contactDetailsOne.isPrimary">Relationship is required.</em> -->
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
    
                                <label>Address Line1
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text" name="addressLine1" maxlength="200" [(ngModel)]="_Associate.contactDetailsOne.addressLine1" class="form-control"
                                        (keypress)="forAddress($event)" required>
                                        <div  *ngIf="formSubmitted && !_Associate.contactDetailsOne.addressLine1 && _Associate.contactDetailsOne.isPrimary">
                                                <i style="color: red" class="fa fa-exclamation-circle"></i>
                                                <span style="color: red">Address line1 is required.</span>
                                            </div>
                                        <!-- <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsOne.addressLine1 && _Associate.contactDetailsOne.isPrimary">Address line1 is required.</em> -->
                                </div>
                                
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Address Line2</label>
                                <div class="ui-fluid">
                                    <input type="text" name="addressLine2" maxlength="200" [(ngModel)]="_Associate.contactDetailsOne.addressLine2" class="form-control"
                                        (keypress)="forAddress($event)" required>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>City
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text"  name="city" [(ngModel)]="_Associate.contactDetailsOne.city" class="form-control" (keypress)="onlychar($event)"
                                        required>
                                        <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsOne.city && _Associate.contactDetailsOne.isPrimary">City is required.</em>
                                </div>
                                
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>State
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text"  name="state" [(ngModel)]="_Associate.contactDetailsOne.state" (keypress)="onlychar($event)"
                                        class="form-control" required>
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsOne.state && _Associate.contactDetailsOne.isPrimary">State is required.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Country
                                    <span style="color: red">*</span>
                                </label>
                                <div class="dropdowns">
                                    <select class="form-control"  name="ddlCountry" [ngModel]="_Associate.contactDetailsOne.country || ''"
                                        (change)="setfirstcontactzipLength($event)" (ngModelChange)="_Associate.contactDetailsOne.country = $event"
                                        required>
                                        <!-- (ngModelChange)="_Associate.contactDetailsOne.country = $event" -->
                                        <option value="" selected=true></option>
                                        <option *ngFor="let c of ddlCountries" value={{c.valueID}}>{{c.valueName}}</option>
                                    </select>
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsOne.country && _Associate.contactDetailsOne.isPrimary">Country is required.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Zip
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text" name="zip" [(ngModel)]="_Associate.contactDetailsOne.zip" [maxlength]="firstcontactzipLength"
                                        [minlength]="firstcontactzipLength" (keypress)="onlyForNumbers($event)" (paste)="$event.preventDefault()"
                                        class="form-control" required>
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsOne.zip && _Associate.contactDetailsOne.isPrimary">Zip is required.</em>
                                <em class="em-custom" *ngIf="formSubmitted &&_Associate.contactDetailsOne.zip != undefined && _Associate.contactDetailsOne.zip.length != firstcontactzipLength">Please enter valid zip code.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Telephone Number</label>
                                <div class="ui-fluid">
                                    <input type="text"  name="telephoneNumber" maxlength="12" minlength="11" [(ngModel)]="_Associate.contactDetailsOne.telephoneNo"
                                        (keypress)="phoneNumbers($event)" (paste)="$event.preventDefault()" class="form-control"
                                        pattern="[0-9]{3}[-][0-9].{6,}" required oninvalid="setCustomValidity('Please enter valid telephone number')"
                                        onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && (_Associate.contactDetailsOne.telephoneNo != undefined && _Associate.contactDetailsOne.telephoneNo.length < 10 && _Associate.contactDetailsOne.telephoneNo.length > 0 &&  submitAttempt)">Please enter valid telephone number.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Mobile Number
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text"  name="mobileNumber" maxlength="10" minlength="10" [(ngModel)]="_Associate.contactDetailsOne.mobileNo"
                                        (keypress)="onlyForNumbers($event)" (paste)="$event.preventDefault()" class="form-control"
                                        required oninvalid="setCustomValidity('Please enter valid mobile number')" onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsOne.mobileNo && _Associate.contactDetailsOne.isPrimary">Mobile number is required.</em>
                                <em class="em-custom" *ngIf="formSubmitted && (_Associate.contactDetailsOne.mobileNo != undefined && _Associate.contactDetailsOne.mobileNo.length < 10 && _Associate.contactDetailsOne.mobileNo.length > 0 &&  submitAttempt)">Please enter valid 10 digit mobile number.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Email ID</label>
                                <div class="ui-fluid">
                                    <input type="email" maxlength="50"  name="emailID" [(ngModel)]="_Associate.contactDetailsOne.emailAddress"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 floating-main">
                    <input type="checkbox" formControlName="secondPrimary" id="toogle" [(checked)]="_Associate.contactDetailsTwo.isPrimary" (change)="updateSelection('secondPrimary')"
                        tabindex="1">
                    <i></i>
                    <span class="form-label">Is Primary Contact</span>
                </div>
                <div class="row">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Second Contact Name
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text" style="width:70%;" name="secondContactName" (keypress)="onlychar($event)" [(ngModel)]="_Associate.contactDetailsTwo.contactName"
                                        class="form-control" required>
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsTwo.contactName && _Associate.contactDetailsTwo.isPrimary">First contact name is required.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Relation
                                    <span style="color: red">*</span>
                                </label>
                                <div class="dropdowns">
                                    <select class="form-control" name="ddlRelation2" [ngModel]="_Associate.contactDetailsTwo.relationship || ''"
                                        (ngModelChange)="_Associate.contactDetailsTwo.relationship = $event" required>
                                        <option value="" selected></option>
                                        <option *ngFor="let r of ddlRelations" value={{r.valueID}}>{{r.valueName}}</option>
                                    </select>
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsTwo.relationship && _Associate.contactDetailsTwo.isPrimary">Relationship is required.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Address Line1
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text"  name="addressLine1" class="form-control" [(ngModel)]="_Associate.contactDetailsTwo.addressLine1"
                                        (keypress)="forAddress($event)" required>
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsTwo.addressLine1 && _Associate.contactDetailsTwo.isPrimary">Address line1 is required.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Address Line2</label>
                                <div class="ui-fluid">
                                    <input type="text"name="addressLine2" class="form-control" [(ngModel)]="_Associate.contactDetailsTwo.addressLine2"
                                        (keypress)="forAddress($event)" required>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>City
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text" name="city" [(ngModel)]="_Associate.contactDetailsTwo.city" class="form-control" (keypress)="onlychar($event)"
                                        required>
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsTwo.city && _Associate.contactDetailsTwo.isPrimary">City is required.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>State
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text" name="state" [(ngModel)]="_Associate.contactDetailsTwo.state" class="form-control"
                                        (keypress)="onlychar($event)" required>
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsTwo.state && _Associate.contactDetailsTwo.isPrimary">State is required.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Country
                                    <span style="color: red">*</span>
                                </label>
                                <div class="dropdowns">
                                    <select class="form-control" name="ddlCountry2" [ngModel]="_Associate.contactDetailsTwo.country || ''"
                                        (change)="setsecondcontactzipLength($event)" (ngModelChange)="_Associate.contactDetailsTwo.country = $event"
                                        required>
                                        <option value=""></option>
                                        <option *ngFor="let c of ddlCountries" value={{c.valueID}}>{{c.valueName}}</option>
                                    </select>
                                </div>

                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsTwo.country && _Associate.contactDetailsTwo.isPrimary">Country is required.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Zip
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text"  name="zip" (keypress)="onlyForNumbers($event)" [(ngModel)]="_Associate.contactDetailsTwo.zip"
                                        [maxlength]="secondcontactzipLength" [minlength]="secondcontactzipLength" (paste)="$event.preventDefault()"
                                        class="form-control" required>
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsTwo.zip && _Associate.contactDetailsTwo.isPrimary">Zip is required.</em>
                                <em class="em-custom" *ngIf="formSubmitted && _Associate.contactDetailsTwo.zip != undefined && _Associate.contactDetailsTwo.zip.length != secondcontactzipLength">Please enter valid zip code.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Telephone Number</label>
                                <div class="ui-fluid">
                                    <input type="text"  name="telephoneNumber" maxlength="12" minlength="11" [(ngModel)]="_Associate.contactDetailsTwo.telephoneNo"
                                        (keypress)="phoneNumbers($event)" (paste)="$event.preventDefault()" class="form-control"
                                        pattern="[0-9]{3}[-][0-9].{6,}" required oninvalid="setCustomValidity('Please enter valid telephone number')"
                                        onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                                <!--<em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsTwo.telephoneNo && _Associate.contactDetailsTwo.isPrimary">Telephone number is required.</em>-->
                                <em class="em-custom" *ngIf="formSubmitted && (_Associate.contactDetailsTwo.telephoneNo != undefined && _Associate.contactDetailsTwo.telephoneNo.length < 10 && _Associate.contactDetailsTwo.telephoneNo.length > 0 &&  submitAttempt)">Please enter valid telephone number.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Mobile Number
                                    <span style="color: red">*</span>
                                </label>
                                <div class="ui-fluid">
                                    <input type="text"  name="mobileNumber" maxlength="10" minlength="10" [(ngModel)]="_Associate.contactDetailsTwo.mobileNo"
                                        (keypress)="onlyForNumbers($event)" (paste)="$event.preventDefault()" class="form-control"
                                        required oninvalid="setCustomValidity('Please enter valid mobile number')" onchange="try{setCustomValidity('')}catch(e){}">
                                </div>
                                <em class="em-custom" *ngIf="formSubmitted && !_Associate.contactDetailsTwo.mobileNo && _Associate.contactDetailsTwo.isPrimary">Mobile number is required.</em>
                                <em class="em-custom" *ngIf="formSubmitted && (_Associate.contactDetailsTwo.mobileNo != undefined && _Associate.contactDetailsTwo.mobileNo.length < 10 && _Associate.contactDetailsTwo.mobileNo.length > 0 &&  submitAttempt)">Please enter valid 10 digit mobile number.</em>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-lg-3">
                            <div class="box">
                                <label>Email ID</label>
                                <div class="ui-fluid">
                                    <input type="text"  name="emailID" maxlength="50" [(ngModel)]="_Associate.contactDetailsTwo.emailAddress"
                                        (paste)="$event.preventDefault()" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-lg-12">
                <section class="pull-right buttons">
                    <button type="button" href="#" name="btnclear" class="btn btn-default" style="cursor:pointer;" *ngIf="type == 'new'" class="btn btn-default"
                        (click)="onClear()">
                        <i class="fa fa-eraser"></i>&nbsp;Clear</button>&nbsp;
                    <button type="save" class="btn btn-custom" style="cursor:pointer;" *ngIf="type == 'new'" (click)="onSaveorUpdate(_Associate)">
                        <i class="fa fa-floppy-o"></i>&nbsp; Save
                    </button>
                    <button type="save" class="btn btn-primary" class="btn btn-custom" style="cursor:pointer;" *ngIf="type != 'new'" (click)="onSaveorUpdate(_Associate)">
                        &nbsp; Update
                    </button>
                </section>
            </div>
        </div>
    </div>
    <p-confirmDialog header="Confirmation" appendTo="body" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>